flows.json
[
    {
        "id": "d9c88a0a246ec309",
        "type": "tab",
        "label": "JTBD",
        "disabled": false,
        "info": "Jobs To Be Done",
        "env": []
    },
    {
        "id": "b70b82bf8d00eb8a",
        "type": "tab",
        "label": "While Ex.",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5067ad5bc159023f",
        "type": "tab",
        "label": "OpenAI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f03d232b4fcc4b3e",
        "type": "tab",
        "label": "HttpServer React",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7184d5a8972f1fe0",
        "type": "tab",
        "label": "websocket",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6828adb58c9e145",
        "type": "tab",
        "label": "Function from file example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35a4f5ffd108afaa",
        "type": "tab",
        "label": "Herro",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1d45200c9172f37f",
        "type": "tab",
        "label": "Story Building System",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5451c5648a7ae7eb",
        "type": "tab",
        "label": "Sycn-Async",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f0f04da5b5906ea0",
        "type": "tab",
        "label": "AI Google",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7b1434e96d2fe1c7",
        "type": "tab",
        "label": "AI API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c080735c3b2e661f",
        "type": "group",
        "z": "35a4f5ffd108afaa",
        "name": "HERO'S STEPS CARDS",
        "style": {
            "label": true
        },
        "nodes": [
            "6232921449696c56",
            "1f343e6bb8519a2a",
            "9e75bf06577706e9",
            "b2ca9f43bddaa235",
            "31062ff062e78a4c",
            "956c40cef8e47e16",
            "9c2190e83394516c",
            "b039c4e842373e09",
            "4ec78c120bf42a3a",
            "7ec885efd16abb92",
            "1617e8e2bb86329c",
            "08ef5b1f843038b6",
            "32b82980b91dd3de",
            "2e2873a7e8944fdb",
            "bb01eee731d3a898"
        ],
        "x": 34,
        "y": 439,
        "w": 1412,
        "h": 562
    },
    {
        "id": "00862118b435a1a7",
        "type": "group",
        "z": "35a4f5ffd108afaa",
        "name": "10 READERS'S STEPS CARDS",
        "style": {
            "label": true
        },
        "nodes": [
            "4e4ab2c54b9fa073",
            "347d2ac42e821b50",
            "eb5b0fd191b9821a",
            "f529fc5432ae8155",
            "ab29fb87ea4c06f9",
            "7ad1a0c99ee13c67",
            "2661ded7866de731",
            "7824525e71dd688d",
            "f3182786fe1f2a17",
            "bc861751a1b19d27"
        ],
        "x": 34,
        "y": 1259,
        "w": 1262,
        "h": 402
    },
    {
        "id": "87285eca5226e916",
        "type": "group",
        "z": "35a4f5ffd108afaa",
        "name": "2 LEVEL CARDS",
        "style": {
            "label": true
        },
        "nodes": [
            "4d3e0d5042a1385f",
            "624534cad709b4a2"
        ],
        "x": 454,
        "y": 1519,
        "w": 522,
        "h": 82
    },
    {
        "id": "9b29753bae23ff6b",
        "type": "group",
        "z": "35a4f5ffd108afaa",
        "name": "3 CHARACTER CARDS",
        "style": {
            "label": true
        },
        "nodes": [
            "32173120e2685e90",
            "9e45477dfac653d7",
            "1e0a9ff4a3ef4b56",
            "3381474b63847bed"
        ],
        "x": 14,
        "y": 1039,
        "w": 592,
        "h": 142
    },
    {
        "id": "33fb1e68903c32d8",
        "type": "group",
        "z": "35a4f5ffd108afaa",
        "name": "ASSETS",
        "style": {
            "label": true
        },
        "nodes": [
            "25741aebae9499a1",
            "68531779796741a5",
            "3edc5a908bee516c",
            "e106990e59bdd880",
            "b4cdc2c98b547f95",
            "64bace815e13bcac",
            "958fa39261f90af4",
            "6cf696a89b208cd9",
            "f3010bb0dc0867cf",
            "3e46630bcdad778f",
            "54e631b8713f7276",
            "7c4e3bdfb934f2b1"
        ],
        "x": 24,
        "y": 99,
        "w": 792,
        "h": 302
    },
    {
        "id": "d3bab26f8ac33880",
        "type": "junction",
        "z": "5451c5648a7ae7eb",
        "x": 440,
        "y": 320,
        "wires": [
            [
                "7a9dcc421561c59b",
                "9493456b59dc7fd4",
                "22e1177b811c8e84"
            ]
        ]
    },
    {
        "id": "4703b9b1133a8a85",
        "type": "junction",
        "z": "5451c5648a7ae7eb",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "7879dc596cf24518"
            ]
        ]
    },
    {
        "id": "b79df368d7aaac79",
        "type": "websocket-listener",
        "path": "/ws/machine",
        "wholemsg": "false"
    },
    {
        "id": "33535f303afacccb",
        "type": "websocket-client",
        "path": "ws://127.0.0.1:1880/ws/machine",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "65fccb54d6cf3d7f",
        "type": "websocket-listener",
        "path": "/ws/react",
        "wholemsg": "false"
    },
    {
        "id": "cc2050a953749795",
        "type": "openaiApiKey",
        "name": ""
    },
    {
        "id": "5e0ddaade57f14fe",
        "type": "inject",
        "z": "d9c88a0a246ec309",
        "name": "Situacija",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "8341a933b165eceb"
            ]
        ]
    },
    {
        "id": "8341a933b165eceb",
        "type": "change",
        "z": "d9c88a0a246ec309",
        "name": "Motyvacija",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "886151dd6f39346c"
            ]
        ]
    },
    {
        "id": "886151dd6f39346c",
        "type": "debug",
        "z": "d9c88a0a246ec309",
        "name": "Rezultatas",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "69688b15eb0d1015",
        "type": "inject",
        "z": "d9c88a0a246ec309",
        "name": "When...",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "213ae8abae4ea3b3"
            ]
        ]
    },
    {
        "id": "213ae8abae4ea3b3",
        "type": "switch",
        "z": "d9c88a0a246ec309",
        "name": "I want to...",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "1106b568bf2064d0"
            ]
        ]
    },
    {
        "id": "1106b568bf2064d0",
        "type": "debug",
        "z": "d9c88a0a246ec309",
        "name": "So I can...",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "eb86f27a56533232",
        "type": "inject",
        "z": "d9c88a0a246ec309",
        "name": "Situation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "0def639bf5173b3d"
            ]
        ]
    },
    {
        "id": "0def639bf5173b3d",
        "type": "change",
        "z": "d9c88a0a246ec309",
        "name": "Motivation",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "43819c375eb57831"
            ]
        ]
    },
    {
        "id": "43819c375eb57831",
        "type": "debug",
        "z": "d9c88a0a246ec309",
        "name": "Expected outcome",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "9804ae9eb68137ee",
        "type": "inject",
        "z": "b70b82bf8d00eb8a",
        "name": "ctx = 0",
        "props": [
            {
                "p": "ctx",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "b82bdc1deb8ef509"
            ]
        ]
    },
    {
        "id": "b82bdc1deb8ef509",
        "type": "change",
        "z": "b70b82bf8d00eb8a",
        "name": "ctx++",
        "rules": [
            {
                "t": "set",
                "p": "ctx",
                "pt": "msg",
                "to": "ctx+1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "7855f2d23e2157f5",
                "7a6d9d05e5d9bf8a"
            ]
        ]
    },
    {
        "id": "7855f2d23e2157f5",
        "type": "debug",
        "z": "b70b82bf8d00eb8a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "ctx",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "7a6d9d05e5d9bf8a",
        "type": "switch",
        "z": "b70b82bf8d00eb8a",
        "name": "while ( ctx < 10 )",
        "property": "ctx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 220,
        "wires": [
            [
                "b82bdc1deb8ef509"
            ]
        ]
    },
    {
        "id": "db0c792680c91dc6",
        "type": "inject",
        "z": "b70b82bf8d00eb8a",
        "name": "[1,2,3,4,5,6]",
        "props": [
            {
                "p": "payload.array",
                "v": "[1,2,3,4,5,6]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "65d3bdb48885b420"
            ]
        ]
    },
    {
        "id": "65d3bdb48885b420",
        "type": "function",
        "z": "b70b82bf8d00eb8a",
        "name": "Pop item from the array",
        "func": "const val = msg.payload.array.pop();\n//console.log(val);\nmsg.payload = {\n    ...msg.payload,\n    'val': val\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 520,
        "wires": [
            [
                "48a2f59561eb8d74"
            ]
        ]
    },
    {
        "id": "8da682fac1a35894",
        "type": "switch",
        "z": "b70b82bf8d00eb8a",
        "name": "",
        "property": "payload.array.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 620,
        "wires": [
            [
                "65d3bdb48885b420"
            ],
            [
                "23fd320f9c895f4c"
            ]
        ]
    },
    {
        "id": "23fd320f9c895f4c",
        "type": "debug",
        "z": "b70b82bf8d00eb8a",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 740,
        "wires": []
    },
    {
        "id": "48a2f59561eb8d74",
        "type": "function",
        "z": "b70b82bf8d00eb8a",
        "name": "Print value",
        "func": "console.log( 'val', msg.payload.val );\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 520,
        "wires": [
            [
                "8da682fac1a35894",
                "a467bbb1688a0f53"
            ]
        ]
    },
    {
        "id": "a467bbb1688a0f53",
        "type": "debug",
        "z": "b70b82bf8d00eb8a",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.val",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 460,
        "wires": []
    },
    {
        "id": "59ff2a1.fa600d4",
        "type": "http in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "url": "/react",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "7e73aef5e421cf29"
            ]
        ]
    },
    {
        "id": "266c286f.d993d8",
        "type": "http response",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "7e73aef5e421cf29",
        "type": "file in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "filename": ".node-red/projects/node-red/react/index.html",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 610,
        "y": 40,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "68572dadaaea1467",
        "type": "file in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "filename": ".node-red/projects/node-red/react/test.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "77ac86f8d9cda0e5",
        "type": "http in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "url": "/react/test.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "68572dadaaea1467"
            ]
        ]
    },
    {
        "id": "f5280916e3560f07",
        "type": "file in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "filename": ".node-red/projects/node-red/react/ImageModal.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 620,
        "y": 200,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "5fdb6b26612b3512",
        "type": "http in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "url": "/react/ImageModal.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "f5280916e3560f07"
            ]
        ]
    },
    {
        "id": "8d9a7d7eef29e155",
        "type": "http in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "url": "/react/WebSocketTest.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "aba8749fd67bf0c3"
            ]
        ]
    },
    {
        "id": "aba8749fd67bf0c3",
        "type": "file in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "filename": ".node-red/projects/node-red/react/WebSocketTest.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "ce6adba5081d840f",
        "type": "websocket out",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "server": "65fccb54d6cf3d7f",
        "client": "",
        "x": 1100,
        "y": 700,
        "wires": []
    },
    {
        "id": "c3bca1cfd22180d1",
        "type": "inject",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "x": 1090,
        "y": 600,
        "wires": [
            [
                "ce6adba5081d840f"
            ]
        ]
    },
    {
        "id": "2a63a69f0a893163",
        "type": "websocket in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "server": "65fccb54d6cf3d7f",
        "client": "",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "7b32b19d64d48a84"
            ]
        ]
    },
    {
        "id": "8e34fbd988384994",
        "type": "debug",
        "z": "f03d232b4fcc4b3e",
        "name": "otherwise",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 740,
        "wires": []
    },
    {
        "id": "866c93fbcc3ce222",
        "type": "http in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "url": "/react/Traverse.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "c7975da2f90be921"
            ]
        ]
    },
    {
        "id": "c7975da2f90be921",
        "type": "file in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "filename": ".node-red/projects/node-red/react/Traverse.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "8384341326434dfa",
        "type": "http in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "url": "/react/P27.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "b085d72ffa8c6b0b"
            ]
        ]
    },
    {
        "id": "b085d72ffa8c6b0b",
        "type": "file in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "filename": ".node-red/projects/node-red/react/P27.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 600,
        "y": 440,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "15e54e6e2251c4f9",
        "type": "switch",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "property": "payload.action",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 210,
        "y": 660,
        "wires": [
            [
                "0648de1adc9bb5ce"
            ],
            [
                "9bd6cc45287fc9e6"
            ],
            [
                "2f7ffb0a5faef15c"
            ],
            [
                "8e34fbd988384994"
            ]
        ]
    },
    {
        "id": "7b32b19d64d48a84",
        "type": "json",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 170,
        "y": 580,
        "wires": [
            [
                "15e54e6e2251c4f9"
            ]
        ]
    },
    {
        "id": "0648de1adc9bb5ce",
        "type": "function",
        "z": "f03d232b4fcc4b3e",
        "name": "insert",
        "func": "const jSonFromFrontend = msg.payload.data;\n\nconst jSon1 = [\n    { \"clien_id\": 1, \"amount\": jSonFromFrontend.traceId },\n    { \"clien_id\": 2, \"amount\": 3 },\n    { \"clien_id\": 3, \"amount\": 3 }\n];\n\nconst jSon2 = jSon1;\n\nconst jSonP27 = jSon1;\n\nconst jSonResponse = {\n    action: 0,\n    jSon1: jSon1,\n    jSon2: jSon2,\n    jSon3: jSonP27,\n};\nmsg.payload = jSonResponse;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 560,
        "wires": [
            [
                "ce6adba5081d840f"
            ]
        ]
    },
    {
        "id": "9bd6cc45287fc9e6",
        "type": "function",
        "z": "f03d232b4fcc4b3e",
        "name": "refresh",
        "func": "\nconst jSon1 = [\n    { \"clien_id\": 1, \"amount\": 3 },\n    { \"clien_id\": 2, \"amount\": 3 },\n    { \"clien_id\": 3, \"amount\": 3 }\n];\n\nconst jSon2 = jSon1;\n\nconst jSonP27 = jSon1;\n\nconst jSonResponse = {\n    action: 0,\n    jSon1: jSon1,\n    jSon2: jSon2,\n    jSon3: jSonP27,\n};\nmsg.payload = jSonResponse;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 620,
        "wires": [
            [
                "ce6adba5081d840f"
            ]
        ]
    },
    {
        "id": "2f7ffb0a5faef15c",
        "type": "function",
        "z": "f03d232b4fcc4b3e",
        "name": "delete",
        "func": "\nconst jSon1 = [\n    { \"clien_id\": 1, \"amount\": 7 },\n    { \"clien_id\": 2, \"amount\": 8 },\n    { \"clien_id\": 3, \"amount\": 9 }\n];\n\nconst jSon2 = jSon1;\n\nconst jSonP27 = jSon1;\n\nconst jSonResponse = {\n    action: 0,\n    jSon1: jSon1,\n    jSon2: jSon2,\n    jSon3: jSonP27,\n};\nmsg.payload = jSonResponse;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 680,
        "wires": [
            [
                "ce6adba5081d840f"
            ]
        ]
    },
    {
        "id": "83e0257de19abd28",
        "type": "http in",
        "z": "7184d5a8972f1fe0",
        "name": "",
        "url": "/web",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 380,
        "y": 360,
        "wires": [
            [
                "da7d2b952a3c8df0"
            ]
        ]
    },
    {
        "id": "8cf3deb298512f66",
        "type": "http response",
        "z": "7184d5a8972f1fe0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "6248cd7fd679aa6e",
        "type": "template",
        "z": "7184d5a8972f1fe0",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Title</title>\n    <script>\n        {{{payload.websocket}}}\n    </script>\n</head>\n<body>\nHello\n</body>\n</html>",
        "output": "str",
        "x": 850,
        "y": 360,
        "wires": [
            [
                "8cf3deb298512f66"
            ]
        ]
    },
    {
        "id": "d42f9d0712bcedbb",
        "type": "websocket in",
        "z": "7184d5a8972f1fe0",
        "name": "",
        "server": "b79df368d7aaac79",
        "client": "",
        "x": 420,
        "y": 520,
        "wires": [
            [
                "dbf524f28cfd16cf"
            ]
        ]
    },
    {
        "id": "dbf524f28cfd16cf",
        "type": "debug",
        "z": "7184d5a8972f1fe0",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "aaf7e06cd66dfdea",
        "type": "websocket out",
        "z": "7184d5a8972f1fe0",
        "name": "",
        "server": "b79df368d7aaac79",
        "client": "",
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "58f3d52ede958831",
        "type": "inject",
        "z": "7184d5a8972f1fe0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 580,
        "wires": [
            [
                "aaf7e06cd66dfdea"
            ]
        ]
    },
    {
        "id": "da7d2b952a3c8df0",
        "type": "template",
        "z": "7184d5a8972f1fe0",
        "name": "",
        "field": "payload.websocket",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "const ws = new WebSocket('ws://127.0.0.1:1880/ws/machine');\nws.onmessage = function (e) {\n    console.log(e);\n}\nws.onopen = function () {\n    console.log('A client connected!');\n    ws.send('A client connected');\n}",
        "output": "str",
        "x": 640,
        "y": 360,
        "wires": [
            [
                "6248cd7fd679aa6e"
            ]
        ]
    },
    {
        "id": "2b5433c167f34753",
        "type": "file in",
        "z": "a6828adb58c9e145",
        "name": "",
        "filename": ".node-red/test.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 520,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1b165353165d655c",
        "type": "debug",
        "z": "a6828adb58c9e145",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 240,
        "wires": []
    },
    {
        "id": "062954a5539c3bb2",
        "type": "inject",
        "z": "a6828adb58c9e145",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "4bf000224b3781e9",
                "ca0f3c96b1cb87eb"
            ]
        ]
    },
    {
        "id": "7dec678a28fa7e37",
        "type": "function",
        "z": "a6828adb58c9e145",
        "name": "function 4",
        "func": "\nvar func = new Function(\"return \" + msg.payload)();\nconst num = func();\nconsole.log( num );\n//fn.x = 10;\nmsg.payload = num;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 180,
        "wires": [
            [
                "1b165353165d655c"
            ]
        ]
    },
    {
        "id": "4bf000224b3781e9",
        "type": "template",
        "z": "a6828adb58c9e145",
        "name": "function without parameters",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "function test()\n{\n    return 5;\n}",
        "output": "str",
        "x": 500,
        "y": 180,
        "wires": [
            [
                "7dec678a28fa7e37"
            ]
        ]
    },
    {
        "id": "ca0f3c96b1cb87eb",
        "type": "template",
        "z": "a6828adb58c9e145",
        "name": "function with parameters",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "function test(a)\n{\n    return a + a;\n}",
        "output": "str",
        "x": 490,
        "y": 320,
        "wires": [
            [
                "5d43e2110c584d64"
            ]
        ]
    },
    {
        "id": "5d43e2110c584d64",
        "type": "function",
        "z": "a6828adb58c9e145",
        "name": "function 5",
        "func": "var func = new Function(\"return \" + msg.payload)();\nconst num = func(3);\nmsg.payload = num;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 320,
        "wires": [
            [
                "1b165353165d655c"
            ]
        ]
    },
    {
        "id": "6232921449696c56",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Ordinary World",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 960,
        "wires": [
            [
                "1f343e6bb8519a2a"
            ]
        ],
        "info": "# Ordinary world\n\nWho is the hero? What is world like at the beginning?\n\nthe hero is still in his familiar environment– Neo is an unsatisfied hacker looking for an answer;"
    },
    {
        "id": "1f343e6bb8519a2a",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Call to Action",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 880,
        "wires": [
            [
                "9e75bf06577706e9"
            ]
        ],
        "info": "# Call to action\n\n... Laks the balance? Who is the Messanger?\n\nsomething happens to change the balance – He follows the \"white rabbit\";"
    },
    {
        "id": "9e75bf06577706e9",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Refusal of the Call",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 800,
        "wires": [
            [
                "b2ca9f43bddaa235"
            ]
        ],
        "info": "# Refusal of the call\n\nWhat is he fear? What happens to change his mind?\n\nthe hero is hesitant– He should climb the roof but he's afraid;"
    },
    {
        "id": "b2ca9f43bddaa235",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Meeting the Mentor",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 740,
        "wires": [
            [
                "31062ff062e78a4c"
            ]
        ],
        "info": "# Meeting the mentor\n\nWho guides the hero? How does the mentor help him?\n\nhe meets a mentor who guides him – He sees Morpheus and he's offered the two pills;"
    },
    {
        "id": "31062ff062e78a4c",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Crossing the First Threshold",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 660,
        "wires": [
            [
                "956c40cef8e47e16"
            ]
        ],
        "info": "# Crossing the first threshold\n\n... he lose? What is he hoping to gain?\n\nhe finally decides to enter the new world – He chooses the right pill and the real action begins!"
    },
    {
        "id": "956c40cef8e47e16",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Trials",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 600,
        "wires": [
            [
                "9c2190e83394516c"
            ]
        ],
        "info": "# Trials\n\n... he learning? How is he doing in the world?"
    },
    {
        "id": "9c2190e83394516c",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Allies",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 540,
        "wires": [
            [
                "b039c4e842373e09"
            ]
        ],
        "info": "# Allies\n\n.. ey? How do they complete the hero?"
    },
    {
        "id": "b039c4e842373e09",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Enemies",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 480,
        "wires": [
            [
                "4ec78c120bf42a3a"
            ]
        ],
        "info": "# Enemies\n\nWho/What is he fighting? Are the enemies similar to the hero?"
    },
    {
        "id": "4ec78c120bf42a3a",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Fulfillment",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 500,
        "wires": [
            [
                "7ec885efd16abb92"
            ]
        ],
        "info": "# Fulfillment\n\n... completed. Hero ready. What has he learnt/loss?"
    },
    {
        "id": "7ec885efd16abb92",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "To the Inner Cave",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 540,
        "wires": [
            [
                "1617e8e2bb86329c"
            ]
        ],
        "info": "# To the inner cave\n\n... face? How is he getting ready for the ordeal?"
    },
    {
        "id": "1617e8e2bb86329c",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "The Ordeal",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 600,
        "wires": [
            [
                "08ef5b1f843038b6"
            ]
        ],
        "info": "# The Ordeal\n\n... face-off with the enemy. How does it go?"
    },
    {
        "id": "08ef5b1f843038b6",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Reward",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 660,
        "wires": [
            [
                "32b82980b91dd3de"
            ]
        ],
        "info": "# Reward\n\nWhat does he gain? How has he changed?"
    },
    {
        "id": "32b82980b91dd3de",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "The Road Back",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 720,
        "wires": [
            [
                "2e2873a7e8944fdb"
            ]
        ],
        "info": "# The Road Back\n\n... What consequences does he have to face?"
    },
    {
        "id": "2e2873a7e8944fdb",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Resurection",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 780,
        "wires": [
            [
                "bb01eee731d3a898"
            ]
        ],
        "info": "# Resurection\n\n... the last trial? How he is purified by that?"
    },
    {
        "id": "bb01eee731d3a898",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Conclusion",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 860,
        "wires": [
            []
        ],
        "info": "# Conclusion\n\n... the consequences of the Journey?"
    },
    {
        "id": "4e4ab2c54b9fa073",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "Prologue",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 1620,
        "wires": [
            [
                "347d2ac42e821b50"
            ]
        ],
        "info": "To tell something before beginning?"
    },
    {
        "id": "347d2ac42e821b50",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "TheSet-Up",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1540,
        "wires": [
            [
                "eb5b0fd191b9821a"
            ]
        ],
        "info": "...ce the characters and give the preliminary info."
    },
    {
        "id": "eb5b0fd191b9821a",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "The Ctalyst",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1480,
        "wires": [
            [
                "f529fc5432ae8155"
            ]
        ],
        "info": "...ting incident that makes the plot move on."
    },
    {
        "id": "f529fc5432ae8155",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "The Rising Action",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1420,
        "wires": [
            [
                "ab29fb87ea4c06f9"
            ]
        ],
        "info": "ACT TWO: Introduce changes, enemies, new characters."
    },
    {
        "id": "ab29fb87ea4c06f9",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "The Mid-Point",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1360,
        "wires": [
            [
                "7ad1a0c99ee13c67"
            ]
        ],
        "info": "... turning point half way through."
    },
    {
        "id": "7ad1a0c99ee13c67",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "The Crisis",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1300,
        "wires": [
            [
                "2661ded7866de731"
            ]
        ],
        "info": "The \"all is lost\" moment."
    },
    {
        "id": "2661ded7866de731",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "The Climax",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1380,
        "wires": [
            [
                "7824525e71dd688d"
            ]
        ],
        "info": "... the most exciting moment, the keystone."
    },
    {
        "id": "7824525e71dd688d",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "The Solution",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1540,
        "wires": [
            [
                "f3182786fe1f2a17"
            ]
        ],
        "info": "ACT THREE: The stakes are higher and the conflicts are solved."
    },
    {
        "id": "f3182786fe1f2a17",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "Epilogue",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 1600,
        "wires": [
            []
        ],
        "info": "To tell something after the end."
    },
    {
        "id": "4d3e0d5042a1385f",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "87285eca5226e916",
        "name": "Order of the events",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1560,
        "wires": [
            []
        ],
        "info": "How do you want to tell your story? In which order?"
    },
    {
        "id": "624534cad709b4a2",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "87285eca5226e916",
        "name": "Conflicts Evolution",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1560,
        "wires": [
            []
        ],
        "info": "The development of external or internal movements."
    },
    {
        "id": "bc861751a1b19d27",
        "type": "comment",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "",
        "info": " - Which part of the story should I tell at the beginning?\n - Which part of which character is the event that catalyses the whole plot?\n - When do I want the audience to reach its most emotional moment?",
        "x": 210,
        "y": 1360,
        "wires": []
    },
    {
        "id": "32173120e2685e90",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "9b29753bae23ff6b",
        "name": "Hero #1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 1140,
        "wires": [
            []
        ],
        "info": "Write on this row what happens to the main charcter."
    },
    {
        "id": "9e45477dfac653d7",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "9b29753bae23ff6b",
        "name": "Hero #2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1140,
        "wires": [
            []
        ],
        "info": "Write on this row what happens to the 2nd main charcter."
    },
    {
        "id": "1e0a9ff4a3ef4b56",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "9b29753bae23ff6b",
        "name": "Narrator",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1140,
        "wires": [
            []
        ],
        "info": "Does he have his own story? (Or use this card as a 3rd Hero)"
    },
    {
        "id": "3381474b63847bed",
        "type": "comment",
        "z": "35a4f5ffd108afaa",
        "g": "9b29753bae23ff6b",
        "name": "",
        "info": "Although most stories have just one hero, you will have three **CHARACTERS** cards. By placing them on the left of your **HERO’S** STEPS cards, you will be able to manage the development of three different characters.",
        "x": 270,
        "y": 1080,
        "wires": []
    },
    {
        "id": "25741aebae9499a1",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "Heroes",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "68531779796741a5"
            ]
        ],
        "info": "...m. What are they needs? What are they weaknesses?"
    },
    {
        "id": "68531779796741a5",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "Allies",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 140,
        "wires": [
            [
                "3edc5a908bee516c"
            ]
        ],
        "info": "Do the have a side story you need to refer to?"
    },
    {
        "id": "3edc5a908bee516c",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "Enemies",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 140,
        "wires": [
            [
                "b4cdc2c98b547f95"
            ]
        ],
        "info": "...? Do the have a side story you need to refer to?"
    },
    {
        "id": "e106990e59bdd880",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "function 6",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 140,
        "wires": [
            [
                "25741aebae9499a1"
            ]
        ],
        "info": "Place the Asset cards wherever you want."
    },
    {
        "id": "b4cdc2c98b547f95",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "Narrator",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 260,
        "wires": [
            [
                "64bace815e13bcac"
            ]
        ],
        "info": "Who is the Narrator? Does he have his own story?"
    },
    {
        "id": "64bace815e13bcac",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "SubPlot #1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "958fa39261f90af4"
            ]
        ],
        "info": "Is there a side story you need to refer to?"
    },
    {
        "id": "958fa39261f90af4",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "SubPlot #2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 260,
        "wires": [
            [
                "6cf696a89b208cd9"
            ]
        ],
        "info": "Is there a side story you need to refer to?"
    },
    {
        "id": "6cf696a89b208cd9",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "Concept and Theme",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 260,
        "wires": [
            [
                "f3010bb0dc0867cf"
            ]
        ],
        "info": "What is the general idea of your story?"
    },
    {
        "id": "f3010bb0dc0867cf",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "Form",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 360,
        "wires": [
            [
                "3e46630bcdad778f"
            ]
        ],
        "info": "Which techniques/styles are you using?"
    },
    {
        "id": "3e46630bcdad778f",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "MoodBoard",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 360,
        "wires": [
            [
                "54e631b8713f7276"
            ]
        ],
        "info": "..a some inspirational pictures around this card."
    },
    {
        "id": "54e631b8713f7276",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "Space",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "7c4e3bdfb934f2b1"
            ]
        ],
        "info": "...d of the story like? Add drawings, pics, maps!"
    },
    {
        "id": "7c4e3bdfb934f2b1",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "\"Magical\" Objects",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 360,
        "wires": [
            []
        ],
        "info": "... important objects? How do the propel the story?"
    },
    {
        "id": "aa8901bd31893658",
        "type": "comment",
        "z": "35a4f5ffd108afaa",
        "name": "https://www.fabuladeck.com/",
        "info": "[Fabuladec](https://www.fabuladeck.com/)",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "10ecc36acd18b528",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Do you  know why you need a story?",
        "func": "msg.payload = 'https://thumbs.dreamstime.com/b/knowledge-icon-vector-sign-symbol-isolated-white-backgrou-background-your-web-mobile-app-design-logo-concept-133746781.jpg'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "18ad6b73a137a3e9",
                "17eb20feaa270a42"
            ]
        ]
    },
    {
        "id": "18ad6b73a137a3e9",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Do you know where to find your story?",
        "func": "msg.payload = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9iii7x-Nl4Lr2vhKMAIuU_7Ihvufz7IpHkTQHF8JjIDgQ24s7DYixP5U-2U-nbhnbm5U&usqp=CAU'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 300,
        "wires": [
            [
                "6805cc5038232aba",
                "f10ac68bb098d0b6"
            ]
        ]
    },
    {
        "id": "6805cc5038232aba",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Do you know your role in the story?",
        "func": "msg.payload = 'https://www.shutterstock.com/shutterstock/photos/1468802948/display_1500/stock-vector-superhero-line-icon-hero-symbol-color-superman-mockup-super-dad-template-vector-illustration-1468802948.jpg'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 360,
        "wires": [
            [
                "dc49740613b266c8",
                "04778b9e1033e275"
            ]
        ]
    },
    {
        "id": "dc49740613b266c8",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Do you know what your story needs to do?",
        "func": "msg.payload = 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Function_machine2.svg/1200px-Function_machine2.svg.png'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 420,
        "wires": [
            [
                "4ecee58dcc75b3dd",
                "6a8667d08c39de68"
            ]
        ]
    },
    {
        "id": "4ecee58dcc75b3dd",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Do you know how to plan your story?",
        "func": "msg.payload = 'https://www.shutterstock.com/image-vector/hierarchy-icon-isolated-structure-line-260nw-776432704.jpg';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 480,
        "wires": [
            [
                "b7b4cc80c8e04e98",
                "5381079e5ec44a5b"
            ]
        ]
    },
    {
        "id": "b7b4cc80c8e04e98",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Do you know how to tell your story?",
        "func": "msg.payload = 'https://thumbs.dreamstime.com/b/creative-fashion-style-logo-design-vector-sign-lettering-hanger-symbol-logotype-calligraphy-creative-fashion-style-logo-148836793.jpg'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "6b79b7565b6f052a",
                "8bd57055a53e7f11"
            ]
        ]
    },
    {
        "id": "6b79b7565b6f052a",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Do you know how to share your story?",
        "func": "msg.payload = 'https://cdn-icons-png.flaticon.com/128/1693/1693056.png';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 600,
        "wires": [
            [
                "34aad3df3238250c",
                "30cccb3dc02a54d3"
            ]
        ]
    },
    {
        "id": "30cccb3dc02a54d3",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Recipe",
        "func": "msg.payload = 'https://cdn-icons-png.flaticon.com/512/2388/2388956.png';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 700,
        "wires": [
            [
                "1a20954030d41d00",
                "92491118ebda8ba7"
            ]
        ],
        "info": "Stories can change the world. See which problems you can solve by combining different story tactics."
    },
    {
        "id": "f10ac68bb098d0b6",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Explore",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 780,
        "y": 140,
        "wires": [
            []
        ],
        "info": "Stories help us navigate confusing, unknown and changing situations. Make a map for you way ahead."
    },
    {
        "id": "cde43a7535dcf280",
        "type": "inject",
        "z": "1d45200c9172f37f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "10ecc36acd18b528"
            ]
        ]
    },
    {
        "id": "17eb20feaa270a42",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Concept",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 680,
        "y": 60,
        "wires": [
            []
        ],
        "info": "Stories shape how we see ourselves and the wold around us. Frame your work as an epic adventure."
    },
    {
        "id": "04778b9e1033e275",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Character",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 860,
        "y": 220,
        "wires": [
            []
        ],
        "info": "Stories connect us to other people. Show us why we can trust you."
    },
    {
        "id": "6a8667d08c39de68",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Function",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 940,
        "y": 300,
        "wires": [
            []
        ],
        "info": "Stories are more effective than facts or opinions by themselves. Put your stories to work."
    },
    {
        "id": "5381079e5ec44a5b",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Structure",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1020,
        "y": 400,
        "wires": [
            []
        ],
        "info": "Stories carry us along thanks to a fiew basic patterns. Make your ideas flaw in a story-ish way."
    },
    {
        "id": "8bd57055a53e7f11",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Style",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1090,
        "y": 500,
        "wires": [
            []
        ],
        "info": "Storries carry useful information. Make sure people remember yours."
    },
    {
        "id": "34aad3df3238250c",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Organise",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1180,
        "y": 580,
        "wires": [
            []
        ],
        "info": "Stories work, so long as you use them well. Plan how you should tell yours."
    },
    {
        "id": "1a20954030d41d00",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Receipe",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1260,
        "y": 680,
        "wires": [
            []
        ],
        "info": "Stories can change the world. See which problems you can solve by combining different story tactics."
    },
    {
        "id": "92491118ebda8ba7",
        "type": "ui_media",
        "z": "1d45200c9172f37f",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 0,
        "category": "",
        "file": "",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 550,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "2cfca6c0f1e77435",
        "type": "inject",
        "z": "5451c5648a7ae7eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "d3bab26f8ac33880"
            ]
        ]
    },
    {
        "id": "7a9dcc421561c59b",
        "type": "function",
        "z": "5451c5648a7ae7eb",
        "name": "Thread 1",
        "func": "this.status({ fill: \"green\", shape: \"dot\", text: \"connected\" });\n//node.status({ fill: \"green\", shape: \"ring\", text: \"done\" });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 220,
        "wires": [
            [
                "4703b9b1133a8a85"
            ]
        ]
    },
    {
        "id": "9493456b59dc7fd4",
        "type": "function",
        "z": "5451c5648a7ae7eb",
        "name": "Thread 2",
        "func": "node.status({ fill: \"green\", shape: \"ring\", text: \"done\" });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 320,
        "wires": [
            [
                "4703b9b1133a8a85"
            ]
        ]
    },
    {
        "id": "22e1177b811c8e84",
        "type": "function",
        "z": "5451c5648a7ae7eb",
        "name": "Thread 3",
        "func": "function sleep(ms) {\n    return new Promise(resolve => setTimeout(resolve, ms));\n}\n\nnode.status({ fill: \"red\", shape: \"ring\", text: \"disconnected\" });\nawait sleep(1000);\n\nnode.status({ fill: \"green\", shape: \"dot\", text: \"connected\" });\nawait sleep(1000);\n\nnode.status({ text: \"Just text status\" });\nawait sleep(1000);\n//node.status({});   // to clear the status\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 420,
        "wires": [
            [
                "4703b9b1133a8a85"
            ]
        ]
    },
    {
        "id": "7879dc596cf24518",
        "type": "function",
        "z": "5451c5648a7ae7eb",
        "name": "Wait for all Threads",
        "func": "//node.status({ fill: \"green\", shape: \"ring\", text: \"done\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a662866adf899949",
        "type": "comment",
        "z": "5451c5648a7ae7eb",
        "name": "https://nodered.org/blog/2019/08/16/going-async",
        "info": "",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "04e996ecc22bfb1b",
        "type": "comment",
        "z": "5451c5648a7ae7eb",
        "name": "https://nodered.org/docs/user-guide/writing-functions",
        "info": "",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "3b29c01055a752cd",
        "type": "http request",
        "z": "f0f04da5b5906ea0",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 370,
        "y": 220,
        "wires": [
            [
                "fe8e8770ddd4af98"
            ]
        ]
    },
    {
        "id": "5a1a4511ab447717",
        "type": "inject",
        "z": "f0f04da5b5906ea0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"contents\":[{\"parts\":[{\"text\":\"List a few popular cookie recipes using this JSON schema: Recipe = {\\\"recipe_name\\\": str} Return: list[Recipe]\"}]}],\"generationConfig\":{\"response_mime_type\":\"application/json\"}}",
        "payloadType": "json",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "f4208e1483474001"
            ]
        ]
    },
    {
        "id": "f4208e1483474001",
        "type": "template",
        "z": "f0f04da5b5906ea0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"contents\": [\n        {\n            \"parts\": [\n                {\n                    \"text\": \"List a few popular cookie recipes using this JSON schema: Recipe = {\\\"recipe_name\\\": str} Return: list[Recipe]\"\n                }\n            ]\n        }\n    ],\n    \"generationConfig\": {\n        \"response_mime_type\": \"application/json\"\n    }\n}",
        "output": "str",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "3b29c01055a752cd"
            ]
        ]
    },
    {
        "id": "09cc2d3f5356efeb",
        "type": "debug",
        "z": "f0f04da5b5906ea0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "a7129c80d1a1b27b",
        "type": "change",
        "z": "f0f04da5b5906ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$eval($$.payload.candidates[*].content.parts[*].text)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 340,
        "wires": [
            [
                "4c49a1b552899a6a"
            ]
        ]
    },
    {
        "id": "fe8e8770ddd4af98",
        "type": "json",
        "z": "f0f04da5b5906ea0",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "a7129c80d1a1b27b"
            ]
        ]
    },
    {
        "id": "4c49a1b552899a6a",
        "type": "json",
        "z": "f0f04da5b5906ea0",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 630,
        "y": 400,
        "wires": [
            [
                "09cc2d3f5356efeb"
            ]
        ]
    },
    {
        "id": "54e4fcb7df983366",
        "type": "http request",
        "z": "f0f04da5b5906ea0",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 410,
        "y": 580,
        "wires": [
            [
                "f20d6f753687fa86"
            ]
        ]
    },
    {
        "id": "b3674fde120c610d",
        "type": "inject",
        "z": "f0f04da5b5906ea0",
        "name": "",
        "props": [
            {
                "p": "payload_",
                "v": "{\"contents\":[{\"parts\":[{\"text\":\"List a few popular cookie recipes using this JSON schema: Recipe = {\\\"recipe_name\\\": str} Return: list[Recipe]\"}]}],\"generationConfig\":{\"response_mime_type\":\"application/json\"}}",
                "vt": "json"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Explain how Religion works",
        "payloadType": "str",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "4cd2633e3e2d3757"
            ]
        ]
    },
    {
        "id": "f20d6f753687fa86",
        "type": "json",
        "z": "f0f04da5b5906ea0",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 640,
        "wires": [
            [
                "c06d549748ac301a"
            ]
        ]
    },
    {
        "id": "c06d549748ac301a",
        "type": "change",
        "z": "f0f04da5b5906ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$$.payload.candidates[0].content.parts[0].text",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 700,
        "wires": [
            [
                "09cc2d3f5356efeb"
            ]
        ]
    },
    {
        "id": "4cd2633e3e2d3757",
        "type": "template",
        "z": "f0f04da5b5906ea0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"contents\": [\n        {\n            \"parts\": [\n                {\n                    \"text\": \"{{payload}}\"\n                }\n            ]\n        }\n    ]\n}",
        "output": "str",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "ef0ebd1bcffb07db"
            ]
        ]
    },
    {
        "id": "ef0ebd1bcffb07db",
        "type": "json",
        "z": "f0f04da5b5906ea0",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 520,
        "wires": [
            [
                "54e4fcb7df983366"
            ]
        ]
    },
    {
        "id": "0737f9d306a31f4a",
        "type": "inject",
        "z": "7b1434e96d2fe1c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"model\":\"qwen/qwen2.5-vl-72b-instruct:free\",\"messages\":[{\"role\":\"user\",\"content\":[{\"type\":\"text\",\"text\":\"What is in this image?\"},{\"type\":\"image_url\",\"image_url\":{\"url\":\"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"}}]}]}",
        "payloadType": "json",
        "x": 670,
        "y": 260,
        "wires": [
            [
                "236cd65156f1ce0d"
            ]
        ]
    },
    {
        "id": "236cd65156f1ce0d",
        "type": "http request",
        "z": "7b1434e96d2fe1c7",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Bearer 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"
            },
            {
                "keyType": "other",
                "keyValue": "HTTP-Referer",
                "valueType": "other",
                "valueValue": "<YOUR_SITE_URL>"
            },
            {
                "keyType": "other",
                "keyValue": "X-Title",
                "valueType": "other",
                "valueValue": "<YOUR_SITE_NAME>"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 930,
        "y": 260,
        "wires": [
            [
                "0e1b65d09d8c7987",
                "e913a9c84b50f54b"
            ]
        ]
    },
    {
        "id": "e913a9c84b50f54b",
        "type": "debug",
        "z": "7b1434e96d2fe1c7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 260,
        "wires": []
    },
    {
        "id": "0e1b65d09d8c7987",
        "type": "function",
        "z": "7b1434e96d2fe1c7",
        "name": "function 1",
        "func": "// Parse JSON response and extract content\ntry {    \n    const response = JSON.parse(msg.payload);\n    msg.payload = response.choices?.[0]?.message?.content;\n    } catch (e) {\n    msg.payload = 'Error parsing response: ' + e.message;\n    }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "589d6eee317874e8",
        "type": "change",
        "z": "7b1434e96d2fe1c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$.choices[0].message.content",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 440,
        "wires": [
            [
                "e913a9c84b50f54b"
            ]
        ]
    }
]