flows.json
[
    {
        "id": "d9c88a0a246ec309",
        "type": "tab",
        "label": "JTBD",
        "disabled": false,
        "info": "Jobs To Be Done",
        "env": []
    },
    {
        "id": "b70b82bf8d00eb8a",
        "type": "tab",
        "label": "While Ex.",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5067ad5bc159023f",
        "type": "tab",
        "label": "OpenAI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f03d232b4fcc4b3e",
        "type": "tab",
        "label": "HttpServer React",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7184d5a8972f1fe0",
        "type": "tab",
        "label": "websocket",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6828adb58c9e145",
        "type": "tab",
        "label": "Function from file example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "533a2b371d46e27a",
        "type": "tab",
        "label": "Examples",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35a4f5ffd108afaa",
        "type": "tab",
        "label": "Herro",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1d45200c9172f37f",
        "type": "tab",
        "label": "Story Building System",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5451c5648a7ae7eb",
        "type": "tab",
        "label": "Sycn-Async",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a9935b75e76a65a",
        "type": "subflow",
        "name": "Suite",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "8e227f858e741893"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1300,
                "y": 100,
                "wires": [
                    {
                        "id": "8c7b98efc638aa4e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "suiteName",
                "type": "str",
                "value": "suite1"
            },
            {
                "name": "suiteBatchId",
                "type": "str",
                "value": "yyyyyyyy111111"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 40,
            "y": 40,
            "wires": []
        }
    },
    {
        "id": "f79468d09c2b4e79",
        "type": "subflow",
        "name": "Case",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "7d414dca1bf66d61"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1360,
                "y": 260,
                "wires": [
                    {
                        "id": "c122530013e27beb",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "caseBatchId",
                "type": "str",
                "value": "zzzzzzz1111111"
            },
            {
                "name": "threads",
                "type": "num",
                "value": "4"
            },
            {
                "name": "loop",
                "type": "num",
                "value": "101"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 60,
            "y": 40,
            "wires": []
        }
    },
    {
        "id": "293ae38c7343ee6b",
        "type": "subflow",
        "name": "Server",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 200,
                "y": 200,
                "wires": [
                    {
                        "id": "de514f7d2c7030c9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1240,
                "y": 200,
                "wires": [
                    {
                        "id": "ffa4330dae1613e8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "clientName",
                "type": "str",
                "value": "clientName"
            },
            {
                "name": "http",
                "type": "str",
                "value": "https://server.com"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 200,
            "y": 80,
            "wires": []
        }
    },
    {
        "id": "6f575682.81c368",
        "type": "subflow",
        "name": "Send to TTS",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "c080735c3b2e661f",
        "type": "group",
        "z": "35a4f5ffd108afaa",
        "name": "HERO'S STEPS CARDS",
        "style": {
            "label": true
        },
        "nodes": [
            "6232921449696c56",
            "1f343e6bb8519a2a",
            "9e75bf06577706e9",
            "b2ca9f43bddaa235",
            "31062ff062e78a4c",
            "956c40cef8e47e16",
            "9c2190e83394516c",
            "b039c4e842373e09",
            "4ec78c120bf42a3a",
            "7ec885efd16abb92",
            "1617e8e2bb86329c",
            "08ef5b1f843038b6",
            "32b82980b91dd3de",
            "2e2873a7e8944fdb",
            "bb01eee731d3a898"
        ],
        "x": 34,
        "y": 439
    },
    {
        "id": "00862118b435a1a7",
        "type": "group",
        "z": "35a4f5ffd108afaa",
        "name": "10 READERS'S STEPS CARDS",
        "style": {
            "label": true
        },
        "nodes": [
            "4e4ab2c54b9fa073",
            "347d2ac42e821b50",
            "eb5b0fd191b9821a",
            "f529fc5432ae8155",
            "ab29fb87ea4c06f9",
            "7ad1a0c99ee13c67",
            "2661ded7866de731",
            "7824525e71dd688d",
            "f3182786fe1f2a17",
            "bc861751a1b19d27"
        ],
        "x": 34,
        "y": 1259
    },
    {
        "id": "87285eca5226e916",
        "type": "group",
        "z": "35a4f5ffd108afaa",
        "name": "2 LEVEL CARDS",
        "style": {
            "label": true
        },
        "nodes": [
            "4d3e0d5042a1385f",
            "624534cad709b4a2"
        ],
        "x": 454,
        "y": 1519
    },
    {
        "id": "9b29753bae23ff6b",
        "type": "group",
        "z": "35a4f5ffd108afaa",
        "name": "3 CHARACTER CARDS",
        "style": {
            "label": true
        },
        "nodes": [
            "32173120e2685e90",
            "9e45477dfac653d7",
            "1e0a9ff4a3ef4b56",
            "3381474b63847bed"
        ],
        "x": 14,
        "y": 1039
    },
    {
        "id": "33fb1e68903c32d8",
        "type": "group",
        "z": "35a4f5ffd108afaa",
        "name": "ASSETS",
        "style": {
            "label": true
        },
        "nodes": [
            "25741aebae9499a1",
            "68531779796741a5",
            "3edc5a908bee516c",
            "e106990e59bdd880",
            "b4cdc2c98b547f95",
            "64bace815e13bcac",
            "958fa39261f90af4",
            "6cf696a89b208cd9",
            "f3010bb0dc0867cf",
            "3e46630bcdad778f",
            "54e631b8713f7276",
            "7c4e3bdfb934f2b1"
        ],
        "x": 24,
        "y": 99
    },
    {
        "id": "d3bab26f8ac33880",
        "type": "junction",
        "z": "5451c5648a7ae7eb",
        "x": 440,
        "y": 320,
        "wires": [
            [
                "7a9dcc421561c59b",
                "9493456b59dc7fd4",
                "22e1177b811c8e84"
            ]
        ]
    },
    {
        "id": "4703b9b1133a8a85",
        "type": "junction",
        "z": "5451c5648a7ae7eb",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "7879dc596cf24518"
            ]
        ]
    },
    {
        "id": "b79df368d7aaac79",
        "type": "websocket-listener",
        "path": "/ws/machine",
        "wholemsg": "false"
    },
    {
        "id": "33535f303afacccb",
        "type": "websocket-client",
        "path": "ws://127.0.0.1:1880/ws/machine",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "65fccb54d6cf3d7f",
        "type": "websocket-listener",
        "path": "/ws/react",
        "wholemsg": "false"
    },
    {
        "id": "f59321b99d54e840",
        "type": "ttsultimate-config",
        "name": "TTS Service",
        "noderedipaddress": "AUTODISCOVER",
        "noderedport": "1980",
        "purgediratrestart": "leave",
        "ttsservice": "googletranslate",
        "TTSRootFolderPath": ""
    },
    {
        "id": "cc2050a953749795",
        "type": "openaiApiKey",
        "name": ""
    },
    {
        "id": "8e227f858e741893",
        "type": "template",
        "z": "4a9935b75e76a65a",
        "name": "Suite",
        "field": "payload.suite",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"suiteName\": null,\n  \"version\": 1212,\n  \"parameters\": {\n    \"suiteBatchId\": null\n  },\n  \"cases\": [\n  ]\n}",
        "output": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "2a273dad8d547814"
            ]
        ]
    },
    {
        "id": "980820d05d7010f3",
        "type": "function",
        "z": "4a9935b75e76a65a",
        "name": "Push Case Into Suite",
        "func": "\nnode.log(msg.payload.suite);\n\nmsg.payload.suite.cases.push(msg.payload.case);\n\nmsg.payload.case.server     = msg.payload.server;\nmsg.payload.case.body       = msg.payload.body;\nmsg.payload.case.objects    = msg.payload.objects;\n\n\ndelete msg.payload.server;\ndelete msg.payload.body;\ndelete msg.payload.objects;\ndelete msg.payload.case;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 100,
        "wires": [
            [
                "bda02361c6d46be0"
            ]
        ]
    },
    {
        "id": "13abe75faafb5b79",
        "type": "function",
        "z": "4a9935b75e76a65a",
        "name": "",
        "func": "\nnode.log(1111);\n\n//node.log(env.get(\"suiteName\"));\nnode.log(JSON.stringify(msg.payload.suite));\n\n\n//node.log(msg.payload.suite.parameters.suiteBatchId);\nnode.log(2222);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2a273dad8d547814",
        "type": "change",
        "z": "4a9935b75e76a65a",
        "name": "Set Suite Env Var",
        "rules": [
            {
                "t": "set",
                "p": "payload.suite.suiteName",
                "pt": "msg",
                "to": "suiteName",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.suite.parameters.suiteBatchId",
                "pt": "msg",
                "to": "suiteBatchId",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "13abe75faafb5b79",
                "6c973f4c16ede555"
            ]
        ]
    },
    {
        "id": "6c973f4c16ede555",
        "type": "subflow:f79468d09c2b4e79",
        "z": "4a9935b75e76a65a",
        "name": "",
        "x": 510,
        "y": 100,
        "wires": [
            [
                "980820d05d7010f3"
            ]
        ]
    },
    {
        "id": "bda02361c6d46be0",
        "type": "subflow:f79468d09c2b4e79",
        "z": "4a9935b75e76a65a",
        "name": "",
        "env": [
            {
                "name": "threads",
                "value": "5",
                "type": "num"
            },
            {
                "name": "loop",
                "value": "201",
                "type": "num"
            }
        ],
        "x": 910,
        "y": 100,
        "wires": [
            [
                "8c7b98efc638aa4e"
            ]
        ]
    },
    {
        "id": "8c7b98efc638aa4e",
        "type": "function",
        "z": "4a9935b75e76a65a",
        "name": "Push Case Into Suite",
        "func": "\nnode.log(msg.payload.suite);\n\nmsg.payload.suite.cases.push(msg.payload.case);\n\nmsg.payload.case.server     = msg.payload.server;\nmsg.payload.case.body       = msg.payload.body;\nmsg.payload.case.objects    = msg.payload.objects;\n\n\ndelete msg.payload.server;\ndelete msg.payload.body;\ndelete msg.payload.objects;\ndelete msg.payload.case;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "dba384fec8265ca8",
        "type": "template",
        "z": "f79468d09c2b4e79",
        "name": "http://server.com",
        "field": "payload.server",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n  \"clientName\": \"asas\",\n  \"http\": \"https://server.com\",\n  \"header\": {\n    \"authorization\": \"Fixeg token\",\n    \"x-ray\": \"1234567\",\n    \"referrerUrl\": \"asasas\"\n  },\n  \"method\": \"post\"\n}",
        "output": "json",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "803965d144a0d18b"
            ]
        ]
    },
    {
        "id": "803965d144a0d18b",
        "type": "template",
        "z": "f79468d09c2b4e79",
        "name": "Body",
        "field": "payload.body",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n  \"paymentId\": \"1321321231\",\n  \"amount\": 7.85,\n  \"currency\": \"EUR\",\n  \"unstructuredRemittanceInfo\": \"payment for Licensed Fresh Sausages\",\n  \"debtorAccount\": \"sdfsdfdsf\",\n  \"creditorAccount\": \"GB81SEOU00994400000088\",\n  \"debtor\": {\n    \"address\": {\n      \"country\": \"IL\",\n      \"addressLine1\": \"86460 Dibbert Prairie Suite 085\",\n      \"addressLine2\": \"East Lisandrofort, LK-50064-7200\"\n    },\n    \"name\": \"Howell Abshire\",\n    \"privatePerson\": {\n      \"dateAndPlaceOfBirth\": {\n        \"dateOfBirth\": \"1999-12-08\",\n        \"country\": \"LR\",\n        \"city\": \"South Vaughn\",\n        \"province\": \"Bedfordshire\"\n      }\n    }\n  },\n  \"creditor\": {\n    \"name\": \"Chadd Turcotte\",\n    \"privatePerson\": {\n      \"other\": {\n        \"id\": \"719-16-5638\",\n        \"type\": \"NIDN\"\n      }\n    }\n  },\n  \"ultimateDebtor\": {\n    \"name\": \"White, Hahn and Howe, Inc\",\n    \"legalEntity\": {\n      \"other\": {\n        \"id\": \"59025467\",\n        \"type\": \"COID\"\n      }\n    }\n  },\n  \"ultimateCreditor\": {\n    \"name\": \"Wilderman and Sons, Inc\",\n    \"legalEntity\": {\n      \"other\": {\n        \"id\": \"51073930\",\n        \"type\": \"PRTRY\",\n        \"proprietary\": \"CUSTOM ID TYPE\"\n      }\n    }\n  },\n  \"endToEnd\": \"KDX3287\"\n}",
        "output": "json",
        "x": 570,
        "y": 240,
        "wires": [
            [
                "4c1f162e63560710"
            ]
        ]
    },
    {
        "id": "7d414dca1bf66d61",
        "type": "template",
        "z": "f79468d09c2b4e79",
        "name": "Case 1",
        "field": "payload.case",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "{\n  \"parameters\": {\n    \"caseBatchId\": null\n  },\n  \"caseName\": \"OutgoingPaymentSimple\",\n  \"caseBase\": \"OutgoingPaymentSCT\",\n  \"threads\": 3,\n  \"loop\": 100,\n  \"flow\": [\n    {\n      \"sendPayment\": true,\n      \"checkPayment\": true\n    }\n  ],\n  \"server\": null,\n  \"body\":   null,\n  \"objects\": []\n}",
        "output": "json",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "fe81c6be0d46a1b3"
            ]
        ]
    },
    {
        "id": "55701dea7a55261d",
        "type": "template",
        "z": "f79468d09c2b4e79",
        "name": "Test1",
        "field": "payload.test",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"test1\": {\n      \"replace\": {\n        \"paymentId\": \"{{payload.collection.options.parameters.collectionBatchId}}-{{payload.suite.parameters.suiteBatchId}}-{{payload.case.parameters.caseBatchId}}-{{payload.counter}}\",\n        \"debtorAccount\": \"CY06904000010000000000201000\",\n        \"creditorAccount\": \"CY06904000010000000000201000\",\n        \"privatePerson\": \"asas\"\n      },\n      \"remove\": [\n        \"unstructuredRemittanceInfo\",\n        \"ultimateCreditor\"\n      ],\n      \"result\": {\n        \"httpCode\": \"200\",\n        \"saveRequest\": true,\n        \"saveResponse\": true,\n        \"responseAssert\": {\n          \"ultimateCreditor.legalEntity[*].other.id\": \"^.*\"\n        }\n      }\n    }\n}",
        "output": "json",
        "x": 830,
        "y": 260,
        "wires": [
            [
                "0472a2a068c37123"
            ]
        ]
    },
    {
        "id": "2ccecb3665956fe6",
        "type": "template",
        "z": "f79468d09c2b4e79",
        "name": "Test2",
        "field": "payload.test",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"test2\": {\n      \"replace\": {\n        \"paymentId\": \"{{payload.collection.options.parameters.collectionBatchId}}-{{payload.suite.parameters.suiteBatchId}}-{{payload.case.parameters.caseBatchId}}-{{payload.counter}}\",\n        \"debtorAccount\": \"CY06904000010000000000201000\",\n        \"creditorAccount\": \"CY06904000010000000000201000\",\n        \"privatePerson\": \"asas\"\n      },\n      \"remove\": [\n        \"unstructuredRemittanceInfo\",\n        \"ultimateCreditor\"\n      ],\n      \"result\": {\n        \"httpCode\": \"200\",\n        \"saveRequest\": true,\n        \"saveResponse\": true,\n        \"responseAssert\": {\n          \"ultimateCreditor.legalEntity[*].other.id\": \"^.*\"\n        }\n      }\n    }\n}",
        "output": "json",
        "x": 1090,
        "y": 260,
        "wires": [
            [
                "c122530013e27beb"
            ]
        ]
    },
    {
        "id": "4c1f162e63560710",
        "type": "template",
        "z": "f79468d09c2b4e79",
        "name": "Objects",
        "field": "payload.objects",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[]",
        "output": "json",
        "x": 700,
        "y": 240,
        "wires": [
            [
                "55701dea7a55261d"
            ]
        ]
    },
    {
        "id": "c122530013e27beb",
        "type": "function",
        "z": "f79468d09c2b4e79",
        "name": "Push Test",
        "func": "\n//node.log(msg.payload.suite);\n\nmsg.payload.objects.push(msg.payload.test);\n\ndelete msg.payload.test;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "0472a2a068c37123",
        "type": "function",
        "z": "f79468d09c2b4e79",
        "name": "Push Test",
        "func": "\n//node.log(msg.payload.suite);\n\nmsg.payload.objects.push(msg.payload.test);\n\ndelete msg.payload.test;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 260,
        "wires": [
            [
                "2ccecb3665956fe6"
            ]
        ]
    },
    {
        "id": "fe81c6be0d46a1b3",
        "type": "change",
        "z": "f79468d09c2b4e79",
        "name": "Set Case Env Var",
        "rules": [
            {
                "t": "set",
                "p": "payload.case.parameters.caseBatchId",
                "pt": "msg",
                "to": "caseBatchId",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.case.threads",
                "pt": "msg",
                "to": "threads",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.case.loop",
                "pt": "msg",
                "to": "loop",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "dba384fec8265ca8"
            ]
        ]
    },
    {
        "id": "de514f7d2c7030c9",
        "type": "template",
        "z": "293ae38c7343ee6b",
        "name": "http://server.com",
        "field": "payload.server",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n  \"clientName\": null,\n  \"http\": \"https://server.com\",\n  \"header\": {\n    \"authorization\": \"Fixeg token\",\n    \"x-ray\": \"1234567\",\n    \"referrerUrl\": \"asasas\"\n  },\n  \"method\": \"post\"\n}",
        "output": "json",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "e7fc4a28e66eade0"
            ]
        ]
    },
    {
        "id": "e7fc4a28e66eade0",
        "type": "change",
        "z": "293ae38c7343ee6b",
        "name": "Set Vars",
        "rules": [
            {
                "t": "set",
                "p": "payload.server.clientName",
                "pt": "msg",
                "to": "clientName",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 200,
        "wires": [
            [
                "ffa4330dae1613e8"
            ]
        ]
    },
    {
        "id": "ffa4330dae1613e8",
        "type": "function",
        "z": "293ae38c7343ee6b",
        "name": "Delete server object",
        "func": "\ndelete msg.payload.server;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5e0ddaade57f14fe",
        "type": "inject",
        "z": "d9c88a0a246ec309",
        "name": "Situacija",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "8341a933b165eceb"
            ]
        ]
    },
    {
        "id": "8341a933b165eceb",
        "type": "change",
        "z": "d9c88a0a246ec309",
        "name": "Motyvacija",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "886151dd6f39346c"
            ]
        ]
    },
    {
        "id": "886151dd6f39346c",
        "type": "debug",
        "z": "d9c88a0a246ec309",
        "name": "Rezultatas",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "69688b15eb0d1015",
        "type": "inject",
        "z": "d9c88a0a246ec309",
        "name": "When...",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "213ae8abae4ea3b3"
            ]
        ]
    },
    {
        "id": "213ae8abae4ea3b3",
        "type": "switch",
        "z": "d9c88a0a246ec309",
        "name": "I want to...",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "1106b568bf2064d0"
            ]
        ]
    },
    {
        "id": "1106b568bf2064d0",
        "type": "debug",
        "z": "d9c88a0a246ec309",
        "name": "So I can...",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "eb86f27a56533232",
        "type": "inject",
        "z": "d9c88a0a246ec309",
        "name": "Situation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "0def639bf5173b3d"
            ]
        ]
    },
    {
        "id": "0def639bf5173b3d",
        "type": "change",
        "z": "d9c88a0a246ec309",
        "name": "Motivation",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "43819c375eb57831"
            ]
        ]
    },
    {
        "id": "43819c375eb57831",
        "type": "debug",
        "z": "d9c88a0a246ec309",
        "name": "Expected outcome",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "9804ae9eb68137ee",
        "type": "inject",
        "z": "b70b82bf8d00eb8a",
        "name": "ctx = 0",
        "props": [
            {
                "p": "ctx",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "b82bdc1deb8ef509"
            ]
        ]
    },
    {
        "id": "b82bdc1deb8ef509",
        "type": "change",
        "z": "b70b82bf8d00eb8a",
        "name": "ctx++",
        "rules": [
            {
                "t": "set",
                "p": "ctx",
                "pt": "msg",
                "to": "ctx+1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "7855f2d23e2157f5",
                "7a6d9d05e5d9bf8a"
            ]
        ]
    },
    {
        "id": "7855f2d23e2157f5",
        "type": "debug",
        "z": "b70b82bf8d00eb8a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "ctx",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "7a6d9d05e5d9bf8a",
        "type": "switch",
        "z": "b70b82bf8d00eb8a",
        "name": "while ( ctx < 10 )",
        "property": "ctx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 220,
        "wires": [
            [
                "b82bdc1deb8ef509"
            ]
        ]
    },
    {
        "id": "db0c792680c91dc6",
        "type": "inject",
        "z": "b70b82bf8d00eb8a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1,2,3,4,5,6]",
        "payloadType": "json",
        "x": 470,
        "y": 520,
        "wires": [
            [
                "65d3bdb48885b420"
            ]
        ]
    },
    {
        "id": "65d3bdb48885b420",
        "type": "function",
        "z": "b70b82bf8d00eb8a",
        "name": "function 7",
        "func": "const val = msg.payload.pop();\n//console.log(val);\nmsg = {\n    ...msg.payload,\n    val: val\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 520,
        "wires": [
            [
                "48a2f59561eb8d74"
            ]
        ]
    },
    {
        "id": "8da682fac1a35894",
        "type": "switch",
        "z": "b70b82bf8d00eb8a",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 700,
        "wires": [
            [
                "65d3bdb48885b420"
            ],
            [
                "23fd320f9c895f4c"
            ]
        ]
    },
    {
        "id": "23fd320f9c895f4c",
        "type": "debug",
        "z": "b70b82bf8d00eb8a",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 740,
        "wires": []
    },
    {
        "id": "48a2f59561eb8d74",
        "type": "function",
        "z": "b70b82bf8d00eb8a",
        "name": "function 8",
        "func": "console.log( 'val', msg );\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 520,
        "wires": [
            [
                "8da682fac1a35894"
            ]
        ]
    },
    {
        "id": "3d8bfb0be9994c4d",
        "type": "inject",
        "z": "5067ad5bc159023f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "60b68cee014c0435"
            ]
        ]
    },
    {
        "id": "60b68cee014c0435",
        "type": "function",
        "z": "5067ad5bc159023f",
        "name": "completions",
        "func": "msg.api = 'completions';\nmsg.params = {\n    \"model\": \"text-davinci-003\",\n    \"prompt\": \"Say this is a test\",\n    \"max_tokens\": 7,\n    \"temperature\": 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 180,
        "wires": [
            [
                "0d52ffcad06954ef"
            ]
        ]
    },
    {
        "id": "49da3439585bd9a3",
        "type": "debug",
        "z": "5067ad5bc159023f",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "9e1f34cfae373eb9",
        "type": "inject",
        "z": "5067ad5bc159023f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "991a8313a2cab258"
            ]
        ]
    },
    {
        "id": "991a8313a2cab258",
        "type": "function",
        "z": "5067ad5bc159023f",
        "name": "images/generations",
        "func": "// 바닷가에서 우주선 위에서 뛰고 있는 웰시코기 강아지 그림을 하나 그려주세요. \n// Draw a picture of a Welsh Corgi puppy jumping on a spaceship at the beach.\n// Picture of a Welsh Corgi puppy watching the Qatar World Cup football match\n\nmsg.api = 'images/generations';\nmsg.params = {\n    \"prompt\": \"Picture of a Welsh Corgi puppy watching the Qatar World Cup football match\",\n    \"n\": 10,\n    \"size\": \"1024x1024\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 260,
        "wires": [
            [
                "6f81f4a3de6db513"
            ]
        ]
    },
    {
        "id": "869a5d806cc50107",
        "type": "debug",
        "z": "5067ad5bc159023f",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "9456b548f1af7b4e",
        "type": "inject",
        "z": "5067ad5bc159023f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "071ca84bf3b11c0a"
            ]
        ]
    },
    {
        "id": "071ca84bf3b11c0a",
        "type": "function",
        "z": "5067ad5bc159023f",
        "name": "embeddings",
        "func": "msg.api = 'embeddings';\nmsg.params = {\n    \"input\": \"The food was delicious and the waiter...\",\n    \"model\": \"text-similarity-babbage-001\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 300,
        "wires": [
            [
                "1295de0b07100713"
            ]
        ]
    },
    {
        "id": "38b1cb2c366662c6",
        "type": "debug",
        "z": "5067ad5bc159023f",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "ee06b57774344783",
        "type": "inject",
        "z": "5067ad5bc159023f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 340,
        "wires": [
            [
                "ad5c86c64c07b775"
            ]
        ]
    },
    {
        "id": "ad5c86c64c07b775",
        "type": "function",
        "z": "5067ad5bc159023f",
        "name": "moderations",
        "func": "msg.api = 'moderations';\nmsg.params = {\n    \"input\": \"I want to love them.\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 340,
        "wires": [
            [
                "e4c7c21a92b140b4"
            ]
        ]
    },
    {
        "id": "a4b90856e183068a",
        "type": "debug",
        "z": "5067ad5bc159023f",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 340,
        "wires": []
    },
    {
        "id": "664c11412d21d763",
        "type": "inject",
        "z": "5067ad5bc159023f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "61b355f7fba423f4"
            ]
        ]
    },
    {
        "id": "61b355f7fba423f4",
        "type": "function",
        "z": "5067ad5bc159023f",
        "name": "edits",
        "func": "msg.api = 'edits';\nmsg.params = {\n    \"model\": \"text-davinci-edit-001\",\n    \"input\": \"What day of the wek is it?\",\n    \"instruction\": \"Fix the spelling mistakes\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "0fea5bec0cb866ed"
            ]
        ]
    },
    {
        "id": "7d37ac44609b4d27",
        "type": "debug",
        "z": "5067ad5bc159023f",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "c5c0802857ec85dc",
        "type": "http request",
        "z": "5067ad5bc159023f",
        "name": "file download",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 820,
        "y": 500,
        "wires": [
            [
                "68910284fe09bf02",
                "9d00caf15bb35304"
            ]
        ]
    },
    {
        "id": "0d36f9f43374775e",
        "type": "inject",
        "z": "5067ad5bc159023f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "1cf1f404ddbd6e11"
            ]
        ]
    },
    {
        "id": "4476731c9dfab059",
        "type": "file",
        "z": "5067ad5bc159023f",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1190,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "68910284fe09bf02",
        "type": "debug",
        "z": "5067ad5bc159023f",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 540,
        "wires": []
    },
    {
        "id": "9d00caf15bb35304",
        "type": "function",
        "z": "5067ad5bc159023f",
        "name": "set filename",
        "func": "msg.filename = '/home/arturas/Downloads/'+msg.filename \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 500,
        "wires": [
            [
                "4476731c9dfab059"
            ]
        ]
    },
    {
        "id": "1cf1f404ddbd6e11",
        "type": "function",
        "z": "5067ad5bc159023f",
        "name": "set url",
        "func": "// msg.url = 'https://oaidalleapiprodscus.blob.core.windows.net/private/org-SmxuoMSGDcf6Id0DvHHr9RvB/user-b1aKLHzDKrM2Qf4lXFQmgLc6/img-SCLTb2ewE6eMW58Etzdfylpb.png?st=2022-12-12T03%3A48%3A08Z&se=2022-12-12T05%3A48%3A08Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-12-12T03%3A18%3A35Z&ske=2022-12-13T03%3A18%3A35Z&sks=b&skv=2021-08-06&sig=TpyjubAqF061ToVFtweYxXgzoBa%2BUDy2wmh/8AS9pq4%3D';\nmsg.url = msg.payload.url;\nfor(var i in msg.url.split('/')){\n    // node.error(i);\n    if (msg.url.split('/')[i].indexOf('.png')>-1){\n        // node.error(msg.url.split('/')[i].split('.png')[0]);\n        msg.filename = msg.url.split('/')[i].split('.png')[0] + '.png';\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 500,
        "wires": [
            [
                "c5c0802857ec85dc"
            ]
        ]
    },
    {
        "id": "37a8b61e71d21285",
        "type": "inject",
        "z": "5067ad5bc159023f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 460,
        "wires": [
            [
                "9ad39dc23c4ed9c5"
            ]
        ]
    },
    {
        "id": "9ad39dc23c4ed9c5",
        "type": "function",
        "z": "5067ad5bc159023f",
        "name": "images/generations",
        "func": "// 바닷가에서 우주선 위에서 뛰고 있는 웰시코기 강아지 그림을 하나 그려주세요. \n// Draw a picture of a Welsh Corgi puppy jumping on a spaceship at the beach.\n// Picture of a Welsh Corgi puppy watching the Qatar World Cup football match\n// A Jindo dog riding an elevator at the top of Baekdu Mountain\n// A painting of Elon Musk flying to Mars in space\n// An illustration of a mysterious sloth having fun in space\n// An illustration of a mysterious sloth prince having fun in his spaceship in space\n// An illustration of the mysterious Prince Pikachu attending his coronation in space\n// An illustration of the mysterious Prince Pikachu attending his coronation while being celebrated by several people in space.\n// Welsh corgi puppy at the coronation ceremony amidst congratulations from space\n// Photos where the goddess meets the mysterious sky castle\n// Art painting where the goddess meets the mystical sky castle\n// Mysterious White Tiger and White Goddess A work of art that exudes a mysterious atmosphere\n// An astronaut riding a horse in the style of Andy Warhol 앤디 워홀 스타일의 말을 타고 있는 우주비행사\n// An astronaut riding a horse in a photorealistic style\n// An astronaut lounging in a tropical resort in space in a vaporwave style\n// An astronaut playing basketball with cats in space in a photorealistic style\n// Michael Jordan can't dunk in realistic style\nmsg.api = 'images/generations';\nmsg.params = {\n    \"prompt\": \"Tarot futuristic looking Foll card\",\n    \"n\": 1,\n    \"size\": \"1024x1024\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 460,
        "wires": [
            [
                "321ae0cd28ce93c5"
            ]
        ]
    },
    {
        "id": "3da4a8098a72232f",
        "type": "debug",
        "z": "5067ad5bc159023f",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 420,
        "wires": []
    },
    {
        "id": "de796efee52e68b3",
        "type": "function",
        "z": "5067ad5bc159023f",
        "name": "set res",
        "func": "msg.payload = msg.payload.data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 460,
        "wires": [
            [
                "319186907e6ca9bb"
            ]
        ]
    },
    {
        "id": "319186907e6ca9bb",
        "type": "split",
        "z": "5067ad5bc159023f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1080,
        "y": 460,
        "wires": [
            [
                "5b541733cb81f246"
            ]
        ]
    },
    {
        "id": "5b541733cb81f246",
        "type": "delay",
        "z": "5067ad5bc159023f",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1240,
        "y": 460,
        "wires": [
            [
                "1cf1f404ddbd6e11"
            ]
        ]
    },
    {
        "id": "f6d67177e6fb50f1",
        "type": "inject",
        "z": "5067ad5bc159023f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "0f3f92368f295f18"
            ]
        ]
    },
    {
        "id": "0f3f92368f295f18",
        "type": "function",
        "z": "5067ad5bc159023f",
        "name": "function 1",
        "func": "msg.payload = [{ \"url\": \"https://oaidalleapiprodscus.blob.core.windows.net/private/org-SmxuoMSGDcf6Id0DvHHr9RvB/user-b1aKLHzDKrM2Qf4lXFQmgLc6/img-c677ghbJ7SZdZrt9EG8yUMXQ.png?st=2022-12-12T04%3A29%3A43Z&se=2022-12-12T06%3A29%3A43Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-12-12T04%3A29%3A56Z&ske=2022-12-13T04%3A29%3A56Z&sks=b&skv=2021-08-06&sig=3gvJt6bn8K1vWYfqEbaIPXiroG7kjYUdZgQcs0KN6fY%3D\" }, { \"url\": \"https://oaidalleapiprodscus.blob.core.windows.net/private/org-SmxuoMSGDcf6Id0DvHHr9RvB/user-b1aKLHzDKrM2Qf4lXFQmgLc6/img-LR6RT1dq7SmJOSd50fmrgmZR.png?st=2022-12-12T04%3A29%3A43Z&se=2022-12-12T06%3A29%3A43Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-12-12T04%3A29%3A56Z&ske=2022-12-13T04%3A29%3A56Z&sks=b&skv=2021-08-06&sig=IENLX0pxGGYragdYfd1TUnz/7WeiBa0XSU9R8dcCyMo%3D\" }, { \"url\": \"https://oaidalleapiprodscus.blob.core.windows.net/private/org-SmxuoMSGDcf6Id0DvHHr9RvB/user-b1aKLHzDKrM2Qf4lXFQmgLc6/img-Qh9zwcSpRJHHMuyAMpe1lhhO.png?st=2022-12-12T04%3A29%3A43Z&se=2022-12-12T06%3A29%3A43Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-12-12T04%3A29%3A56Z&ske=2022-12-13T04%3A29%3A56Z&sks=b&skv=2021-08-06&sig=cPCZ1Kd5NZyA%2BfdOMh5RbnL3/0sKt/Kt/afHps0GE08%3D\" }, { \"url\": \"https://oaidalleapiprodscus.blob.core.windows.net/private/org-SmxuoMSGDcf6Id0DvHHr9RvB/user-b1aKLHzDKrM2Qf4lXFQmgLc6/img-vMO7phNsMXT8jOvtZXhB0NP3.png?st=2022-12-12T04%3A29%3A43Z&se=2022-12-12T06%3A29%3A43Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-12-12T04%3A29%3A56Z&ske=2022-12-13T04%3A29%3A56Z&sks=b&skv=2021-08-06&sig=DJ/W6eCOX4dSrlR65uF3I1zoCmgXFBWN0igAQx1atok%3D\" }, { \"url\": \"https://oaidalleapiprodscus.blob.core.windows.net/private/org-SmxuoMSGDcf6Id0DvHHr9RvB/user-b1aKLHzDKrM2Qf4lXFQmgLc6/img-k0TB7A9t55CDk2HMlMSkLFUU.png?st=2022-12-12T04%3A29%3A43Z&se=2022-12-12T06%3A29%3A43Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-12-12T04%3A29%3A56Z&ske=2022-12-13T04%3A29%3A56Z&sks=b&skv=2021-08-06&sig=zz2a/fcmrmOPjN98qpsgLZLyG2uNSaWUhV/YDHqhlQ0%3D\" }, { \"url\": \"https://oaidalleapiprodscus.blob.core.windows.net/private/org-SmxuoMSGDcf6Id0DvHHr9RvB/user-b1aKLHzDKrM2Qf4lXFQmgLc6/img-tyjOv1gTnyDoNF4g9df0W0UR.png?st=2022-12-12T04%3A29%3A43Z&se=2022-12-12T06%3A29%3A43Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-12-12T04%3A29%3A56Z&ske=2022-12-13T04%3A29%3A56Z&sks=b&skv=2021-08-06&sig=WqjCiIoDYglpqMjWttCnmeQko1lKlF38t3IcL95vLMQ%3D\" }, { \"url\": \"https://oaidalleapiprodscus.blob.core.windows.net/private/org-SmxuoMSGDcf6Id0DvHHr9RvB/user-b1aKLHzDKrM2Qf4lXFQmgLc6/img-Fs3vtOUU122PuIUbaklIOtH8.png?st=2022-12-12T04%3A29%3A43Z&se=2022-12-12T06%3A29%3A43Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-12-12T04%3A29%3A56Z&ske=2022-12-13T04%3A29%3A56Z&sks=b&skv=2021-08-06&sig=WPZPzCVJoY/7YV46W4zgv4OBYLXTEV3A6sYfHOc8iqI%3D\" }, { \"url\": \"https://oaidalleapiprodscus.blob.core.windows.net/private/org-SmxuoMSGDcf6Id0DvHHr9RvB/user-b1aKLHzDKrM2Qf4lXFQmgLc6/img-WKjU5AFfNGNEdwA4LAOSxuC3.png?st=2022-12-12T04%3A29%3A43Z&se=2022-12-12T06%3A29%3A43Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-12-12T04%3A29%3A56Z&ske=2022-12-13T04%3A29%3A56Z&sks=b&skv=2021-08-06&sig=n/r8Lk2V17V0yEPU5RJtoTY8d1%2BUo/8tHBIOYV0SVUc%3D\" }, { \"url\": \"https://oaidalleapiprodscus.blob.core.windows.net/private/org-SmxuoMSGDcf6Id0DvHHr9RvB/user-b1aKLHzDKrM2Qf4lXFQmgLc6/img-eVsS8sxgT5ihQZDhYeNBXZ5p.png?st=2022-12-12T04%3A29%3A43Z&se=2022-12-12T06%3A29%3A43Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-12-12T04%3A29%3A56Z&ske=2022-12-13T04%3A29%3A56Z&sks=b&skv=2021-08-06&sig=OOj7p/mHhFUZhJ3nWLKfegjfHaUdtN79P8K9c/xRyYk%3D\" }, { \"url\": \"https://oaidalleapiprodscus.blob.core.windows.net/private/org-SmxuoMSGDcf6Id0DvHHr9RvB/user-b1aKLHzDKrM2Qf4lXFQmgLc6/img-8Oly7yoDGV55I4UYudnJfamB.png?st=2022-12-12T04%3A29%3A43Z&se=2022-12-12T06%3A29%3A43Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-12-12T04%3A29%3A56Z&ske=2022-12-13T04%3A29%3A56Z&sks=b&skv=2021-08-06&sig=vDc2Mbp6Z32xgYqWeUrz8OAzmgaJkmoQohnpmIjljhY%3D\" }];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 380,
        "wires": [
            [
                "b63ea2bd42e15c38"
            ]
        ]
    },
    {
        "id": "b63ea2bd42e15c38",
        "type": "split",
        "z": "5067ad5bc159023f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 380,
        "wires": [
            [
                "055f7740ec3abcb9"
            ]
        ]
    },
    {
        "id": "055f7740ec3abcb9",
        "type": "delay",
        "z": "5067ad5bc159023f",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 910,
        "y": 380,
        "wires": [
            [
                "910b1e9cb25f69b3"
            ]
        ]
    },
    {
        "id": "910b1e9cb25f69b3",
        "type": "debug",
        "z": "5067ad5bc159023f",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "0d52ffcad06954ef",
        "type": "openai",
        "z": "5067ad5bc159023f",
        "name": "",
        "api": "",
        "creds": "cc2050a953749795",
        "x": 800,
        "y": 180,
        "wires": [
            [
                "49da3439585bd9a3"
            ]
        ]
    },
    {
        "id": "6f81f4a3de6db513",
        "type": "openai",
        "z": "5067ad5bc159023f",
        "name": "",
        "api": "",
        "creds": "cc2050a953749795",
        "x": 800,
        "y": 260,
        "wires": [
            [
                "869a5d806cc50107"
            ]
        ]
    },
    {
        "id": "1295de0b07100713",
        "type": "openai",
        "z": "5067ad5bc159023f",
        "name": "",
        "api": "",
        "creds": "cc2050a953749795",
        "x": 800,
        "y": 300,
        "wires": [
            [
                "38b1cb2c366662c6"
            ]
        ]
    },
    {
        "id": "e4c7c21a92b140b4",
        "type": "openai",
        "z": "5067ad5bc159023f",
        "name": "",
        "api": "",
        "creds": "cc2050a953749795",
        "x": 800,
        "y": 340,
        "wires": [
            [
                "a4b90856e183068a"
            ]
        ]
    },
    {
        "id": "0fea5bec0cb866ed",
        "type": "openai",
        "z": "5067ad5bc159023f",
        "name": "",
        "api": "",
        "creds": "cc2050a953749795",
        "x": 800,
        "y": 220,
        "wires": [
            [
                "7d37ac44609b4d27"
            ]
        ]
    },
    {
        "id": "321ae0cd28ce93c5",
        "type": "openai",
        "z": "5067ad5bc159023f",
        "name": "",
        "api": "",
        "creds": "cc2050a953749795",
        "x": 800,
        "y": 460,
        "wires": [
            [
                "3da4a8098a72232f",
                "de796efee52e68b3"
            ]
        ]
    },
    {
        "id": "59ff2a1.fa600d4",
        "type": "http in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "url": "/react",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "7e73aef5e421cf29"
            ]
        ]
    },
    {
        "id": "266c286f.d993d8",
        "type": "http response",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "7e73aef5e421cf29",
        "type": "file in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "filename": ".node-red/projects/node-red/react/index.html",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 610,
        "y": 40,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "68572dadaaea1467",
        "type": "file in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "filename": ".node-red/projects/node-red/react/test.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "77ac86f8d9cda0e5",
        "type": "http in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "url": "/react/test.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "68572dadaaea1467"
            ]
        ]
    },
    {
        "id": "f5280916e3560f07",
        "type": "file in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "filename": ".node-red/projects/node-red/react/ImageModal.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 620,
        "y": 200,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "5fdb6b26612b3512",
        "type": "http in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "url": "/react/ImageModal.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "f5280916e3560f07"
            ]
        ]
    },
    {
        "id": "8d9a7d7eef29e155",
        "type": "http in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "url": "/react/WebSocketTest.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "aba8749fd67bf0c3"
            ]
        ]
    },
    {
        "id": "aba8749fd67bf0c3",
        "type": "file in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "filename": ".node-red/projects/node-red/react/WebSocketTest.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "ce6adba5081d840f",
        "type": "websocket out",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "server": "65fccb54d6cf3d7f",
        "client": "",
        "x": 1100,
        "y": 700,
        "wires": []
    },
    {
        "id": "c3bca1cfd22180d1",
        "type": "inject",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "x": 1090,
        "y": 600,
        "wires": [
            [
                "ce6adba5081d840f"
            ]
        ]
    },
    {
        "id": "2a63a69f0a893163",
        "type": "websocket in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "server": "65fccb54d6cf3d7f",
        "client": "",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "7b32b19d64d48a84"
            ]
        ]
    },
    {
        "id": "8e34fbd988384994",
        "type": "debug",
        "z": "f03d232b4fcc4b3e",
        "name": "otherwise",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 740,
        "wires": []
    },
    {
        "id": "866c93fbcc3ce222",
        "type": "http in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "url": "/react/Traverse.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "c7975da2f90be921"
            ]
        ]
    },
    {
        "id": "c7975da2f90be921",
        "type": "file in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "filename": ".node-red/projects/node-red/react/Traverse.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "8384341326434dfa",
        "type": "http in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "url": "/react/P27.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "b085d72ffa8c6b0b"
            ]
        ]
    },
    {
        "id": "b085d72ffa8c6b0b",
        "type": "file in",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "filename": ".node-red/projects/node-red/react/P27.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 600,
        "y": 440,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "15e54e6e2251c4f9",
        "type": "switch",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "property": "payload.action",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 210,
        "y": 660,
        "wires": [
            [
                "0648de1adc9bb5ce"
            ],
            [
                "9bd6cc45287fc9e6"
            ],
            [
                "2f7ffb0a5faef15c"
            ],
            [
                "8e34fbd988384994"
            ]
        ]
    },
    {
        "id": "7b32b19d64d48a84",
        "type": "json",
        "z": "f03d232b4fcc4b3e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 170,
        "y": 580,
        "wires": [
            [
                "15e54e6e2251c4f9"
            ]
        ]
    },
    {
        "id": "0648de1adc9bb5ce",
        "type": "function",
        "z": "f03d232b4fcc4b3e",
        "name": "insert",
        "func": "const jSonFromFrontend = msg.payload.data;\n\nconst jSon1 = [\n    { \"clien_id\": 1, \"amount\": jSonFromFrontend.traceId },\n    { \"clien_id\": 2, \"amount\": 3 },\n    { \"clien_id\": 3, \"amount\": 3 }\n];\n\nconst jSon2 = jSon1;\n\nconst jSonP27 = jSon1;\n\nconst jSonResponse = {\n    action: 0,\n    jSon1: jSon1,\n    jSon2: jSon2,\n    jSon3: jSonP27,\n};\nmsg.payload = jSonResponse;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 560,
        "wires": [
            [
                "ce6adba5081d840f"
            ]
        ]
    },
    {
        "id": "9bd6cc45287fc9e6",
        "type": "function",
        "z": "f03d232b4fcc4b3e",
        "name": "refresh",
        "func": "\nconst jSon1 = [\n    { \"clien_id\": 1, \"amount\": 3 },\n    { \"clien_id\": 2, \"amount\": 3 },\n    { \"clien_id\": 3, \"amount\": 3 }\n];\n\nconst jSon2 = jSon1;\n\nconst jSonP27 = jSon1;\n\nconst jSonResponse = {\n    action: 0,\n    jSon1: jSon1,\n    jSon2: jSon2,\n    jSon3: jSonP27,\n};\nmsg.payload = jSonResponse;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 620,
        "wires": [
            [
                "ce6adba5081d840f"
            ]
        ]
    },
    {
        "id": "2f7ffb0a5faef15c",
        "type": "function",
        "z": "f03d232b4fcc4b3e",
        "name": "delete",
        "func": "\nconst jSon1 = [\n    { \"clien_id\": 1, \"amount\": 7 },\n    { \"clien_id\": 2, \"amount\": 8 },\n    { \"clien_id\": 3, \"amount\": 9 }\n];\n\nconst jSon2 = jSon1;\n\nconst jSonP27 = jSon1;\n\nconst jSonResponse = {\n    action: 0,\n    jSon1: jSon1,\n    jSon2: jSon2,\n    jSon3: jSonP27,\n};\nmsg.payload = jSonResponse;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 680,
        "wires": [
            [
                "ce6adba5081d840f"
            ]
        ]
    },
    {
        "id": "83e0257de19abd28",
        "type": "http in",
        "z": "7184d5a8972f1fe0",
        "name": "",
        "url": "/web",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 380,
        "y": 360,
        "wires": [
            [
                "da7d2b952a3c8df0"
            ]
        ]
    },
    {
        "id": "8cf3deb298512f66",
        "type": "http response",
        "z": "7184d5a8972f1fe0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "6248cd7fd679aa6e",
        "type": "template",
        "z": "7184d5a8972f1fe0",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Title</title>\n    <script>\n        {{{payload.websocket}}}\n    </script>\n</head>\n<body>\nHello\n</body>\n</html>",
        "output": "str",
        "x": 850,
        "y": 360,
        "wires": [
            [
                "8cf3deb298512f66"
            ]
        ]
    },
    {
        "id": "d42f9d0712bcedbb",
        "type": "websocket in",
        "z": "7184d5a8972f1fe0",
        "name": "",
        "server": "b79df368d7aaac79",
        "client": "",
        "x": 420,
        "y": 520,
        "wires": [
            [
                "dbf524f28cfd16cf"
            ]
        ]
    },
    {
        "id": "dbf524f28cfd16cf",
        "type": "debug",
        "z": "7184d5a8972f1fe0",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "aaf7e06cd66dfdea",
        "type": "websocket out",
        "z": "7184d5a8972f1fe0",
        "name": "",
        "server": "b79df368d7aaac79",
        "client": "",
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "58f3d52ede958831",
        "type": "inject",
        "z": "7184d5a8972f1fe0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 580,
        "wires": [
            [
                "aaf7e06cd66dfdea"
            ]
        ]
    },
    {
        "id": "da7d2b952a3c8df0",
        "type": "template",
        "z": "7184d5a8972f1fe0",
        "name": "",
        "field": "payload.websocket",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "const ws = new WebSocket('ws://127.0.0.1:1880/ws/machine');\nws.onmessage = function (e) {\n    console.log(e);\n}\nws.onopen = function () {\n    console.log('A client connected!');\n    ws.send('A client connected');\n}",
        "output": "str",
        "x": 640,
        "y": 360,
        "wires": [
            [
                "6248cd7fd679aa6e"
            ]
        ]
    },
    {
        "id": "2b5433c167f34753",
        "type": "file in",
        "z": "a6828adb58c9e145",
        "name": "",
        "filename": ".node-red/test.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 520,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1b165353165d655c",
        "type": "debug",
        "z": "a6828adb58c9e145",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 240,
        "wires": []
    },
    {
        "id": "062954a5539c3bb2",
        "type": "inject",
        "z": "a6828adb58c9e145",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "4bf000224b3781e9",
                "ca0f3c96b1cb87eb"
            ]
        ]
    },
    {
        "id": "7dec678a28fa7e37",
        "type": "function",
        "z": "a6828adb58c9e145",
        "name": "function 4",
        "func": "\nvar func = new Function(\"return \" + msg.payload)();\nconst num = func();\nconsole.log( num );\n//fn.x = 10;\nmsg.payload = num;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 180,
        "wires": [
            [
                "1b165353165d655c"
            ]
        ]
    },
    {
        "id": "4bf000224b3781e9",
        "type": "template",
        "z": "a6828adb58c9e145",
        "name": "function without parameters",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "function test()\n{\n    return 5;\n}",
        "output": "str",
        "x": 500,
        "y": 180,
        "wires": [
            [
                "7dec678a28fa7e37"
            ]
        ]
    },
    {
        "id": "ca0f3c96b1cb87eb",
        "type": "template",
        "z": "a6828adb58c9e145",
        "name": "function with parameters",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "function test(a)\n{\n    return a + a;\n}",
        "output": "str",
        "x": 490,
        "y": 320,
        "wires": [
            [
                "5d43e2110c584d64"
            ]
        ]
    },
    {
        "id": "5d43e2110c584d64",
        "type": "function",
        "z": "a6828adb58c9e145",
        "name": "function 5",
        "func": "var func = new Function(\"return \" + msg.payload)();\nconst num = func(3);\nmsg.payload = num;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 320,
        "wires": [
            [
                "1b165353165d655c"
            ]
        ]
    },
    {
        "id": "faa550264d8902f3",
        "type": "inject",
        "z": "533a2b371d46e27a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$now()",
        "payloadType": "jsonata",
        "x": 400,
        "y": 380,
        "wires": [
            [
                "b7372db29b08a43f"
            ]
        ]
    },
    {
        "id": "b7372db29b08a43f",
        "type": "debug",
        "z": "533a2b371d46e27a",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 380,
        "wires": []
    },
    {
        "id": "6232921449696c56",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Ordinary World",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 960,
        "wires": [
            [
                "1f343e6bb8519a2a"
            ]
        ],
        "info": "# Ordinary world\n\nWho is the hero? What is world like at the beginning?\n\nthe hero is still in his familiar environment– Neo is an unsatisfied hacker looking for an answer;"
    },
    {
        "id": "1f343e6bb8519a2a",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Call to Action",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 880,
        "wires": [
            [
                "9e75bf06577706e9"
            ]
        ],
        "info": "# Call to action\n\n... Laks the balance? Who is the Messanger?\n\nsomething happens to change the balance – He follows the \"white rabbit\";"
    },
    {
        "id": "9e75bf06577706e9",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Refusal of the Call",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 800,
        "wires": [
            [
                "b2ca9f43bddaa235"
            ]
        ],
        "info": "# Refusal of the call\n\nWhat is he fear? What happens to change his mind?\n\nthe hero is hesitant– He should climb the roof but he's afraid;"
    },
    {
        "id": "b2ca9f43bddaa235",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Meeting the Mentor",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 740,
        "wires": [
            [
                "31062ff062e78a4c"
            ]
        ],
        "info": "# Meeting the mentor\n\nWho guides the hero? How does the mentor help him?\n\nhe meets a mentor who guides him – He sees Morpheus and he's offered the two pills;"
    },
    {
        "id": "31062ff062e78a4c",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Crossing the First Threshold",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 660,
        "wires": [
            [
                "956c40cef8e47e16"
            ]
        ],
        "info": "# Crossing the first threshold\n\n... he lose? What is he hoping to gain?\n\nhe finally decides to enter the new world – He chooses the right pill and the real action begins!"
    },
    {
        "id": "956c40cef8e47e16",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Trials",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 600,
        "wires": [
            [
                "9c2190e83394516c"
            ]
        ],
        "info": "# Trials\n\n... he learning? How is he doing in the world?"
    },
    {
        "id": "9c2190e83394516c",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Allies",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 540,
        "wires": [
            [
                "b039c4e842373e09"
            ]
        ],
        "info": "# Allies\n\n.. ey? How do they complete the hero?"
    },
    {
        "id": "b039c4e842373e09",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Enemies",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 480,
        "wires": [
            [
                "4ec78c120bf42a3a"
            ]
        ],
        "info": "# Enemies\n\nWho/What is he fighting? Are the enemies similar to the hero?"
    },
    {
        "id": "4ec78c120bf42a3a",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Fulfillment",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 500,
        "wires": [
            [
                "7ec885efd16abb92"
            ]
        ],
        "info": "# Fulfillment\n\n... completed. Hero ready. What has he learnt/loss?"
    },
    {
        "id": "7ec885efd16abb92",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "To the Inner Cave",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 540,
        "wires": [
            [
                "1617e8e2bb86329c"
            ]
        ],
        "info": "# To the inner cave\n\n... face? How is he getting ready for the ordeal?"
    },
    {
        "id": "1617e8e2bb86329c",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "The Ordeal",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 600,
        "wires": [
            [
                "08ef5b1f843038b6"
            ]
        ],
        "info": "# The Ordeal\n\n... face-off with the enemy. How does it go?"
    },
    {
        "id": "08ef5b1f843038b6",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Reward",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 660,
        "wires": [
            [
                "32b82980b91dd3de"
            ]
        ],
        "info": "# Reward\n\nWhat does he gain? How has he changed?"
    },
    {
        "id": "32b82980b91dd3de",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "The Road Back",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 720,
        "wires": [
            [
                "2e2873a7e8944fdb"
            ]
        ],
        "info": "# The Road Back\n\n... What consequences does he have to face?"
    },
    {
        "id": "2e2873a7e8944fdb",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Resurection",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 780,
        "wires": [
            [
                "bb01eee731d3a898"
            ]
        ],
        "info": "# Resurection\n\n... the last trial? How he is purified by that?"
    },
    {
        "id": "bb01eee731d3a898",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "c080735c3b2e661f",
        "name": "Conclusion",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 860,
        "wires": [
            []
        ],
        "info": "# Conclusion\n\n... the consequences of the Journey?"
    },
    {
        "id": "4e4ab2c54b9fa073",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "Prologue",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 1620,
        "wires": [
            [
                "347d2ac42e821b50"
            ]
        ],
        "info": "To tell something before beginning?"
    },
    {
        "id": "347d2ac42e821b50",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "TheSet-Up",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1540,
        "wires": [
            [
                "eb5b0fd191b9821a"
            ]
        ],
        "info": "...ce the characters and give the preliminary info."
    },
    {
        "id": "eb5b0fd191b9821a",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "The Ctalyst",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1480,
        "wires": [
            [
                "f529fc5432ae8155"
            ]
        ],
        "info": "...ting incident that makes the plot move on."
    },
    {
        "id": "f529fc5432ae8155",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "The Rising Action",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1420,
        "wires": [
            [
                "ab29fb87ea4c06f9"
            ]
        ],
        "info": "ACT TWO: Introduce changes, enemies, new characters."
    },
    {
        "id": "ab29fb87ea4c06f9",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "The Mid-Point",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1360,
        "wires": [
            [
                "7ad1a0c99ee13c67"
            ]
        ],
        "info": "... turning point half way through."
    },
    {
        "id": "7ad1a0c99ee13c67",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "The Crisis",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1300,
        "wires": [
            [
                "2661ded7866de731"
            ]
        ],
        "info": "The \"all is lost\" moment."
    },
    {
        "id": "2661ded7866de731",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "The Climax",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1380,
        "wires": [
            [
                "7824525e71dd688d"
            ]
        ],
        "info": "... the most exciting moment, the keystone."
    },
    {
        "id": "7824525e71dd688d",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "The Solution",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1540,
        "wires": [
            [
                "f3182786fe1f2a17"
            ]
        ],
        "info": "ACT THREE: The stakes are higher and the conflicts are solved."
    },
    {
        "id": "f3182786fe1f2a17",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "Epilogue",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 1600,
        "wires": [
            []
        ],
        "info": "To tell something after the end."
    },
    {
        "id": "4d3e0d5042a1385f",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "87285eca5226e916",
        "name": "Order of the events",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1560,
        "wires": [
            []
        ],
        "info": "How do you want to tell your story? In which order?"
    },
    {
        "id": "624534cad709b4a2",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "87285eca5226e916",
        "name": "Conflicts Evolution",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1560,
        "wires": [
            []
        ],
        "info": "The development of external or internal movements."
    },
    {
        "id": "bc861751a1b19d27",
        "type": "comment",
        "z": "35a4f5ffd108afaa",
        "g": "00862118b435a1a7",
        "name": "",
        "info": " - Which part of the story should I tell at the beginning?\n - Which part of which character is the event that catalyses the whole plot?\n - When do I want the audience to reach its most emotional moment?",
        "x": 210,
        "y": 1360,
        "wires": []
    },
    {
        "id": "32173120e2685e90",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "9b29753bae23ff6b",
        "name": "Hero #1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 1140,
        "wires": [
            []
        ],
        "info": "Write on this row what happens to the main charcter."
    },
    {
        "id": "9e45477dfac653d7",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "9b29753bae23ff6b",
        "name": "Hero #2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1140,
        "wires": [
            []
        ],
        "info": "Write on this row what happens to the 2nd main charcter."
    },
    {
        "id": "1e0a9ff4a3ef4b56",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "9b29753bae23ff6b",
        "name": "Narrator",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1140,
        "wires": [
            []
        ],
        "info": "Does he have his own story? (Or use this card as a 3rd Hero)"
    },
    {
        "id": "3381474b63847bed",
        "type": "comment",
        "z": "35a4f5ffd108afaa",
        "g": "9b29753bae23ff6b",
        "name": "",
        "info": "Although most stories have just one hero, you will have three **CHARACTERS** cards. By placing them on the left of your **HERO’S** STEPS cards, you will be able to manage the development of three different characters.",
        "x": 270,
        "y": 1080,
        "wires": []
    },
    {
        "id": "25741aebae9499a1",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "Heroes",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "68531779796741a5"
            ]
        ],
        "info": "...m. What are they needs? What are they weaknesses?"
    },
    {
        "id": "68531779796741a5",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "Allies",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 140,
        "wires": [
            [
                "3edc5a908bee516c"
            ]
        ],
        "info": "Do the have a side story you need to refer to?"
    },
    {
        "id": "3edc5a908bee516c",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "Enemies",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 140,
        "wires": [
            [
                "b4cdc2c98b547f95"
            ]
        ],
        "info": "...? Do the have a side story you need to refer to?"
    },
    {
        "id": "e106990e59bdd880",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "function 6",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 140,
        "wires": [
            [
                "25741aebae9499a1"
            ]
        ],
        "info": "Place the Asset cards wherever you want."
    },
    {
        "id": "b4cdc2c98b547f95",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "Narrator",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 260,
        "wires": [
            [
                "64bace815e13bcac"
            ]
        ],
        "info": "Who is the Narrator? Does he have his own story?"
    },
    {
        "id": "64bace815e13bcac",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "SubPlot #1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "958fa39261f90af4"
            ]
        ],
        "info": "Is there a side story you need to refer to?"
    },
    {
        "id": "958fa39261f90af4",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "SubPlot #2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 260,
        "wires": [
            [
                "6cf696a89b208cd9"
            ]
        ],
        "info": "Is there a side story you need to refer to?"
    },
    {
        "id": "6cf696a89b208cd9",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "Concept and Theme",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 260,
        "wires": [
            [
                "f3010bb0dc0867cf"
            ]
        ],
        "info": "What is the general idea of your story?"
    },
    {
        "id": "f3010bb0dc0867cf",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "Form",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 360,
        "wires": [
            [
                "3e46630bcdad778f"
            ]
        ],
        "info": "Which techniques/styles are you using?"
    },
    {
        "id": "3e46630bcdad778f",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "MoodBoard",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 360,
        "wires": [
            [
                "54e631b8713f7276"
            ]
        ],
        "info": "..a some inspirational pictures around this card."
    },
    {
        "id": "54e631b8713f7276",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "Space",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "7c4e3bdfb934f2b1"
            ]
        ],
        "info": "...d of the story like? Add drawings, pics, maps!"
    },
    {
        "id": "7c4e3bdfb934f2b1",
        "type": "function",
        "z": "35a4f5ffd108afaa",
        "g": "33fb1e68903c32d8",
        "name": "\"Magical\" Objects",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 360,
        "wires": [
            []
        ],
        "info": "... important objects? How do the propel the story?"
    },
    {
        "id": "aa8901bd31893658",
        "type": "comment",
        "z": "35a4f5ffd108afaa",
        "name": "https://www.fabuladeck.com/",
        "info": "[Fabuladec](https://www.fabuladeck.com/)",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "10ecc36acd18b528",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Do you  know why you need a story?",
        "func": "msg.payload = 'https://thumbs.dreamstime.com/b/knowledge-icon-vector-sign-symbol-isolated-white-backgrou-background-your-web-mobile-app-design-logo-concept-133746781.jpg'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "18ad6b73a137a3e9",
                "17eb20feaa270a42"
            ]
        ]
    },
    {
        "id": "18ad6b73a137a3e9",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Do you know where to find your story?",
        "func": "msg.payload = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9iii7x-Nl4Lr2vhKMAIuU_7Ihvufz7IpHkTQHF8JjIDgQ24s7DYixP5U-2U-nbhnbm5U&usqp=CAU'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 300,
        "wires": [
            [
                "6805cc5038232aba",
                "f10ac68bb098d0b6"
            ]
        ]
    },
    {
        "id": "6805cc5038232aba",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Do you know your role in the story?",
        "func": "msg.payload = 'https://www.shutterstock.com/shutterstock/photos/1468802948/display_1500/stock-vector-superhero-line-icon-hero-symbol-color-superman-mockup-super-dad-template-vector-illustration-1468802948.jpg'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 360,
        "wires": [
            [
                "dc49740613b266c8",
                "04778b9e1033e275"
            ]
        ]
    },
    {
        "id": "dc49740613b266c8",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Do you know what your story needs to do?",
        "func": "msg.payload = 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Function_machine2.svg/1200px-Function_machine2.svg.png'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 420,
        "wires": [
            [
                "4ecee58dcc75b3dd",
                "6a8667d08c39de68"
            ]
        ]
    },
    {
        "id": "4ecee58dcc75b3dd",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Do you know how to plan your story?",
        "func": "msg.payload = 'https://www.shutterstock.com/image-vector/hierarchy-icon-isolated-structure-line-260nw-776432704.jpg';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 480,
        "wires": [
            [
                "b7b4cc80c8e04e98",
                "5381079e5ec44a5b"
            ]
        ]
    },
    {
        "id": "b7b4cc80c8e04e98",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Do you know how to tell your story?",
        "func": "msg.payload = 'https://thumbs.dreamstime.com/b/creative-fashion-style-logo-design-vector-sign-lettering-hanger-symbol-logotype-calligraphy-creative-fashion-style-logo-148836793.jpg'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "6b79b7565b6f052a",
                "8bd57055a53e7f11"
            ]
        ]
    },
    {
        "id": "6b79b7565b6f052a",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Do you know how to share your story?",
        "func": "msg.payload = 'https://cdn-icons-png.flaticon.com/128/1693/1693056.png';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 600,
        "wires": [
            [
                "34aad3df3238250c",
                "30cccb3dc02a54d3"
            ]
        ]
    },
    {
        "id": "30cccb3dc02a54d3",
        "type": "function",
        "z": "1d45200c9172f37f",
        "name": "Recipe",
        "func": "msg.payload = 'https://cdn-icons-png.flaticon.com/512/2388/2388956.png';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 700,
        "wires": [
            [
                "1a20954030d41d00",
                "92491118ebda8ba7"
            ]
        ],
        "info": "Stories can change the world. See which problems you can solve by combining different story tactics."
    },
    {
        "id": "f10ac68bb098d0b6",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Explore",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 780,
        "y": 140,
        "wires": [
            []
        ],
        "info": "Stories help us navigate confusing, unknown and changing situations. Make a map for you way ahead."
    },
    {
        "id": "cde43a7535dcf280",
        "type": "inject",
        "z": "1d45200c9172f37f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "10ecc36acd18b528"
            ]
        ]
    },
    {
        "id": "17eb20feaa270a42",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Concept",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 680,
        "y": 60,
        "wires": [
            []
        ],
        "info": "Stories shape how we see ourselves and the wold around us. Frame your work as an epic adventure."
    },
    {
        "id": "04778b9e1033e275",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Character",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 860,
        "y": 220,
        "wires": [
            []
        ],
        "info": "Stories connect us to other people. Show us why we can trust you."
    },
    {
        "id": "6a8667d08c39de68",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Function",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 940,
        "y": 300,
        "wires": [
            []
        ],
        "info": "Stories are more effective than facts or opinions by themselves. Put your stories to work."
    },
    {
        "id": "5381079e5ec44a5b",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Structure",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1020,
        "y": 400,
        "wires": [
            []
        ],
        "info": "Stories carry us along thanks to a fiew basic patterns. Make your ideas flaw in a story-ish way."
    },
    {
        "id": "8bd57055a53e7f11",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Style",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1090,
        "y": 500,
        "wires": [
            []
        ],
        "info": "Storries carry useful information. Make sure people remember yours."
    },
    {
        "id": "34aad3df3238250c",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Organise",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1180,
        "y": 580,
        "wires": [
            []
        ],
        "info": "Stories work, so long as you use them well. Plan how you should tell yours."
    },
    {
        "id": "1a20954030d41d00",
        "type": "image viewer",
        "z": "1d45200c9172f37f",
        "name": "Receipe",
        "width": "60",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1260,
        "y": 680,
        "wires": [
            []
        ],
        "info": "Stories can change the world. See which problems you can solve by combining different story tactics."
    },
    {
        "id": "92491118ebda8ba7",
        "type": "ui_media",
        "z": "1d45200c9172f37f",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 0,
        "category": "",
        "file": "",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 550,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "2cfca6c0f1e77435",
        "type": "inject",
        "z": "5451c5648a7ae7eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "d3bab26f8ac33880"
            ]
        ]
    },
    {
        "id": "7a9dcc421561c59b",
        "type": "function",
        "z": "5451c5648a7ae7eb",
        "name": "Thread 1",
        "func": "//this.status({ fill: \"green\", shape: \"dot\", text: \"connected\" });\n//node.status({ fill: \"green\", shape: \"ring\", text: \"done\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 220,
        "wires": [
            [
                "4703b9b1133a8a85"
            ]
        ]
    },
    {
        "id": "9493456b59dc7fd4",
        "type": "function",
        "z": "5451c5648a7ae7eb",
        "name": "Thread 2",
        "func": "//node.status({ fill: \"green\", shape: \"ring\", text: \"done\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 320,
        "wires": [
            [
                "4703b9b1133a8a85"
            ]
        ]
    },
    {
        "id": "22e1177b811c8e84",
        "type": "function",
        "z": "5451c5648a7ae7eb",
        "name": "Thread 3",
        "func": "function sleep(ms) {\n    return new Promise(resolve => setTimeout(resolve, ms));\n}\n\nnode.status({ fill: \"red\", shape: \"ring\", text: \"disconnected\" });\nawait sleep(1000);\n\nnode.status({ fill: \"green\", shape: \"dot\", text: \"connected\" });\nawait sleep(1000);\n\nnode.status({ text: \"Just text status\" });\nawait sleep(1000);\n//node.status({});   // to clear the status\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 420,
        "wires": [
            [
                "4703b9b1133a8a85"
            ]
        ]
    },
    {
        "id": "7879dc596cf24518",
        "type": "function",
        "z": "5451c5648a7ae7eb",
        "name": "Wait for all Threads",
        "func": "//node.status({ fill: \"green\", shape: \"ring\", text: \"done\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a662866adf899949",
        "type": "comment",
        "z": "5451c5648a7ae7eb",
        "name": "https://nodered.org/blog/2019/08/16/going-async",
        "info": "",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "04e996ecc22bfb1b",
        "type": "comment",
        "z": "5451c5648a7ae7eb",
        "name": "https://nodered.org/docs/user-guide/writing-functions",
        "info": "",
        "x": 610,
        "y": 520,
        "wires": []
    }
]